
.change-pw{width: 950px;float: right;}
.change-pw .mt{width: 950px; border-bottom: 1px solid #e8e8e8; }
.change-pw .mt .top{width: 950px; height: 50px; overflow: hidden; background-color: #fff;}
.change-pw .mt .top span{color: #2448ab; font-size: 20px; line-height: 50px; float: left; margin-left: 30px;}


.change-pw .mc{width: 950px; }
.change-pw .mc .mc-cont1{width: 835px; padding: 70px 0 110px 115px; margin-bottom: 10px; background-color: #fff;}
.change-pw .mc .mc-cont1 .mc-item{width: 830px; min-height: 75px; }
.change-pw .mc .mc-cont1 .mc-item .label{display: block; width: 170px; line-height: 44px; float: left; margin-right: 15px; color: #666666; font-size: 14px; text-align: right;}
.change-pw .mc .mc-cont1 .mc-item .label b{color: #ff2a00;}
.change-pw .mc .mc-cont1 .mc-item .item-ifo{float: left; width: 320px;}
.change-pw .mc .mc-cont1 .mc-item .item-ifo input{width: 283px; height: 22px; font-size: 14px; color: #333; border: 1px solid #dddddd; line-height: 22px; padding: 10px 25px 10px 10px;}
.change-pw .mc .mc-cont1 .mc-item .item-ifo input:focus{border: 1px solid #ff2a00;}

.change-pw .mc .mc-cont1 .next{display: block; font-size: 18px; color: #fff; text-align: center; margin-top: 3px; margin-left: 185px; width: 160px; height: 44px; line-height: 44px; background-color: #2448ab; }
.change-pw .mc .mc-cont1 a:hover.next{background-color: #1c3e9c;}

.change-pw .mc .mc-cont2{width: 650px;  padding: 118px 0 110px 300px;  background: #fff url("../images/suc-icon.png") no-repeat 223px 111px; }
.change-pw .mc .mc-cont2 p{color: #2d415a; font-size: 22px;}
.change-pw .mc .mc-cont2 .back{display: block; font-size: 18px; color: #fff; text-align: center; margin-top:40px; width: 160px; height: 44px; line-height: 44px; background-color: #2448ab; }
.change-pw .mc .mc-cont2 a:hover.back{background-color: #1c3e9c;}












