.header-mc { height: 120px; }
.header-mc .logo { height: 80px; margin-top: 20px; }
.header-mc .logo a { height: 80px; }
.header-mc .link { float: left; margin-top: 50px; margin-left: 232px; font-size: 16px; line-height: 30px; color: #999; }
.header-mc .link a { color: #2448ab; }
.header-mc .link a:hover { text-decoration: underline; }

.main { position: relative; height: 320px; }
.mian-w { position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; min-width: 1190px; height: 320px; }
.main-bg { position: absolute; top: 0; left: 50%; width: 1920px; height: 320px; margin-left: -960px; }
.mian-bg img { width: 100%; height: auto; }

.login-w { position: absolute; top: 0; left: 50%; width: 1190px; margin-left: -595px; }
.login-box { position: absolute; top: -73px; right: 53px; width: 360px; height: 458px; padding-right: 8px; padding-left: 8px; background: url('../images/login-bg.png') no-repeat top left; }
.login-tit { margin-top: 53px; margin-left: 53px; font-family: 'Microsoft YaHei UI Light'; font-size: 22px; line-height: 30px; color: #666; }
.login-wel { margin-bottom: 11px; margin-left: 53px; line-height: 20px; color: #aeaeae; }
.login-tip { width: 251px; height: 34px; padding-left: 52px; line-height: 34px; color: #999; background: #fff5d2 url('../images/login-icon.png') no-repeat 5px 6px; }

.login-form .form-group { position: relative; height: 64px; }
.login-form .form-group:after { position: absolute; top: -7px; left: -5px; width: 5px; height: 52px; content: ''; background: url('../images/login-icon.png') no-repeat -7px -146px; }
.login-form input { width: 240px; height: 43px; padding-right: 10px; padding-left: 53px; font-size: 14px; font-size: 14px; line-height: 43px; color: #333; border: 1px solid #e8e8e8; border-left: none; border-radius: 0 3px 3px 0; background-color: #fff; }
.login-form .inp-name { background: #fff url('../images/login-icon.png') no-repeat 5px -27px; }
.login-form .inp-pass { background: #fff url('../images/login-icon.png') no-repeat 5px -60px; }
.login-form .inp-vcode { float: left; width: 110px; background: #fff url('../images/login-icon.png') no-repeat 5px -96px; }
.login-form .vcode-img { display: inline-block; float: left; overflow: hidden; width: 60px; height: 26px; margin: 9px 15px 0; background-color: #ccc; }
.login-form .vcode-link { float: left; line-height: 45px; color: #2448ab; }
.login-form .vcode-link:hover { text-decoration: underline; }
.login-form .btn-login { position: relative; float: right; width: 304px; height: 45px; margin-bottom: 10px; font-size: 16px; line-height: 45px; text-align: center; color: #fff; border-radius: 3px 0 0 3px; background-color: #2448ab; }
.login-form .btn-login:after { position: absolute; top: -4px; right: -5px; width: 5px; height: 52px; content: ''; background: url('../images/login-icon.png') no-repeat -28px -146px; }
.login-form .link-forget { display: block; clear: both; margin-left: 56px; color: #2448ab; }
.login-form .link-forget:hover { text-decoration: underline; }

.footer { width: 1190px; margin: 0 auto; }
.footer .info { padding-top: 20px; text-align: left; background-color: #fff; }
.footer .info .links { padding-left: 144px; }
.footer .info .links a { color: #666; }
.footer .info .links span { color: #666; }
.footer .info .copyright { padding-left: 150px; color: #666; }

/*修改输入框placeholder文字颜色*/
input::-webkit-input-placeholder { color: #999; }/* WebKit browsers */
input:-moz-placeholder { color: #999; } /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder { color: #999; }/* Mozilla Firefox 19+ */
input:-ms-input-placeholder { color: #999; }/* Internet Explorer 10+ */
