.past{width: 1170px; height: 26px; padding: 15px 0 15px 20px; margin: 0 auto;}
.past .links{color: #2d415a; float: left; line-height: 25px;}
.past a:hover.links{text-decoration: underline;}
.crumbs-arrow {display: block;  float: left;  line-height: 25px;  margin: 0 10px; font-family: Simsun; font-size: 14px; color: #666666;}
.past span {color: #666666;  float: left;  line-height: 26px;}


.main-bg { width: 100%; min-width: 1190px; background-color: #eee; }
.main-bg .main { width: 1190px; margin: 0 auto; padding-bottom: 30px; }

.c-side { width: 220px; background-color: #fff; }
.c-side h2 { height: 50px; margin-bottom: 15px; padding-left: 40px; font-size: 20px; line-height: 50px; color: #2d415a; border-bottom: 1px solid #e8e8e8; background: url('../images/tit-bg.png') repeat-x; }
.c-side .menu-tit { margin: 0 10px; }
.c-side .menu-tit h3 { position: relative; padding-left: 30px; font-size: 14px; line-height: 40px; color: #999; }
.c-side .menu-tit h3:before { position: absolute; top: 50%; left: 0; width: 20px; height: 1px; content: ''; background-color: #e8e8e8; }
.c-side .menu-tit h3:after { position: absolute; top: 50%; right: 0; width: 100px; height: 1px; content: ''; background-color: #e8e8e8; }
.c-side .menu-cont a { display: block; height: 36px; padding-left: 40px; font-size: 14px; line-height: 36px; color: #333; }
.c-side .menu-cont a:hover { color: #2448ab; }
.c-side .menu-cont a.cur { position: relative; color: #fff; background-color: #2448ab; }
.c-side .menu-cont a.cur:after { position: absolute; top: 50%; right: 0;  width: 0; margin-top: -2px; content: ''; border-top: 4px solid transparent; border-right: 4px solid #eee; border-bottom: 4px solid transparent; }
.c-side .btn-exit { display: block; font-size: 14px; line-height: 40px; text-align: center; border-top: 2px solid #eee; }
.c-side .btn-exit:hover { color: #333; }

/*03-28*/
input:focus{border: 1px solid #2448ab !important;}


