

.main-bg{width: 100%; min-width: 1190px; padding-bottom: 20px; background-color:#eeeeee; }
.main-bg .main{width: 1190px; margin: 0 auto; overflow: hidden; }


.main .submit-suc-box{width: 1190px; background-color: #ffffff; margin-top: 20px; padding-top: 45px; padding-bottom: 45px; overflow: hidden; }
.main .submit-suc-box .suc-bg{ float: left; width: 190px; height:115px; background: url("../images/suc-icon.png") no-repeat 100px 0; overflow: hidden; }
.main .submit-suc-box .suc-bg1{ float: left; width: 190px; height: 115px; background: url("../images/err-icon.png") no-repeat 100px 0; overflow: hidden; }

.main .submit-suc-box .sub-msg{ float: left;  width: 1000px; overflow: hidden; }
.main .submit-suc-box .sub-msg .suc-title{ font-size: 22px; color: #2d415a; width: 740px; margin-top: 7px; }
.main .submit-suc-box .sub-msg .suc-tice{ font-size: 14px; color: #666666; margin-top: 8px; width: 740px;}
.main .submit-suc-box .sub-msg .have-pay{ font-size: 14px; height: 45px; color: #666666; line-height: 65px; width: 740px;}
.main .submit-suc-box .sub-msg .have-pay span{ margin-left: 10px; color: #ff6600; font-size: 28px; }
.main .submit-suc-box .sub-msg .have-pay span i{ font-size: 16px; }
.main .submit-suc-box .sub-msg .check-btn{ margin-top: 15px; height: 30px; width: 740px;}
.main .submit-suc-box .sub-msg .check-btn a.to-page{ float: left; width: 98px; height: 28px; line-height: 28px; border: 1px solid #e8e8e8; background-color: #ffffff; color: #2448ab; text-align: center; margin-right: 10px; overflow: hidden;}
.main .submit-suc-box .sub-msg .check-btn a.to-page:hover{ background-color: #2448ab; border: 1px  solid  #2052dd; color: #ffffff; }


.main .notice-box{width: 1190px; margin-top: 2px; background-color: #ffffff; overflow: hidden; position: relative; }
.main .notice-box a.to-page{ float: left; width: 98px; height: 28px; line-height: 28px; border: 1px solid #e8e8e8; background-color: #ffffff; color: #2448ab; text-align: center; margin-right: 10px; overflow: hidden; position: absolute; top: 30px; left: 410px;}
.main .notice-box a.to-page:hover{ background-color: #2448ab; border: 1px  solid  #2052dd; color: #ffffff; }

.main .notice-box .notice-title{ float: left; width: 190px;overflow: hidden; }
.main .notice-box .notice-title p{ width: 82px; color: #2d415a; font-size: 16px; margin: 30px 0 0 108px; }

.main .notice-box .notice-msg{ float: left; margin: 29px 0; width: 1000px; overflow: hidden; }
.main .notice-box .notice-msg p{ color: #666666; line-height: 24px; width: 730px; overflow: hidden; }

.main .submit-suc-box .sub-msg .top-more{ margin-top: 30px;}
