.c-main { width: 950px; background-color: #fff; }

.main-tab { margin-bottom: 10px; background-color: #fff; }
.main-tab .tab-nav { height: 50px; padding-left: 10px; font-size: 0; border-bottom: 1px solid #ccc; }
.main-tab .tab-nav li { position: relative; display: inline-block; width: 110px; height: 50px; padding: 0 5px; }
.main-tab .tab-nav li:after { position: absolute; top: 17px; right: 0; width: 1px; height: 16px; content: ''; background-color: #e8e8e8; }
.main-tab .tab-nav li a { display: block; width: 110px; height: 49px; font-size: 16px; line-height: 49px; text-align: center; color: #2d415a; }
.main-tab .tab-nav li strong {font-weight: 400;color: #f60;}
.main-tab .tab-nav li a:hover { color: #f60; }
.main-tab .tab-nav .cur { border-bottom: 1px solid #fff; }
.main-tab .tab-nav .cur a { font-weight: 700; color: #2448ab; border-bottom: 2px solid #2448ab; }

.order-box { padding: 10px 10px 20px; background-color: #fff; }

.order-tit {position: relative;}

.filter-search input[type='text'] {clear: both; width: 208px; margin-left: 10px; height: 30px; padding-left: 26px; line-height: 30px; color: #333; border: 1px solid #dbdbdb; background: #fff url('../images/list-icon.png') no-repeat 5px -29px; }
.filter-search .btn {display: none;}
.filter-search.focus {position: absolute; top: -7px; left: 0px; width: 260px; height: 83px; border: 1px solid #f0f0f0; box-shadow: 0 0 1px 1px rgba(0,0,0,.1); background-color: #fff;}
.filter-search.focus input[type="text"] {margin: 7px 0 10px 10px;}
.filter-search.focus .btn {display: block; float: right;width: 44px; height: 22px;color: #666; text-align: center; line-height: 20px;border: 1px solid #dbdbdb;}
.filter-search.focus a:hover.btn {background-color: #fcfcfc;}
.filter-search.focus .btn-submit {width: 46px;height: 22px; margin-right: 13px;margin-left: 6px; border: none; color: #fff;background-color: #2448ab;}
.filter-search.focus a:hover.btn-submit {background-color: #1c3e9c;}
.filter-search.focus + .condition-toggle {margin-left: 290px;}

.order-tit .condition-toggle { float: left; margin-left: 44px; line-height: 32px; color: #2448ab; }
.order-tit .condition-toggle:hover {color: #f60;}
.order-tit .condition-toggle:after { display: inline-block; width: 7px; height: 4px; content: ''; vertical-align: middle; background: url('../images/order-icons.png') no-repeat -6px -28px; }
.order-tit .condition-toggle:hover:after {background: url('../images/selector-icon02.png') no-repeat -13px 0px;}
.order-tit .active:after { background-position: -6px -45px; }
.order-tit .condition-form { clear: both; margin-right: -20px; padding-top: 20px; padding-left: 20px; }
.order-tit .condition-form .form-group { float: left; height: 32px; margin-right: 40px; margin-bottom: 20px; }
.order-tit .condition-form .form-group .lab { float: left; font-size: 14px; line-height: 32px; color: #333; }
.order-tit .condition-form .form-group .inp-group { display: inline-block; font-size: 0; }
.order-tit .condition-form .form-group .inp-group span { display: inline-block; float: left; overflow: hidden; width: 20px; height: 32px; font-size: 12px; line-height: 32px; text-align: center; }
.order-tit .condition-form .form-group .inp-txt { float: left; width: 178px; height: 30px; padding: 0 10px; font-size: 14px; line-height: 30px; border: 1px solid #ddd; }
.order-tit .condition-form .form-group .inp-s { width: 68px; }
.order-tit .condition-form .form-group input:focus { border-color: #2448ab; }
.order-tit .condition-form .btn-search { float: left; width: 90px; height: 32px; margin-right: 20px; margin-left: 70px; font-size: 14px; line-height: 32px; text-align: center; color: #fff; background-color: #2448ab; }
.order-tit .condition-form .btn-reset { float: left; width: 88px; height: 30px; font-size: 14px; line-height: 30px; text-align: center; color: #2448ab; border: 1px solid #e8e8e8; }
.order-tit .condition-form .form-group .dropdown { float: left; }

.order-thead { width: 928px; height: 38px; margin-bottom: 10px; line-height: 38px; color: #666; border: 1px solid #e8e8e8; background-color: #fafafa; }
.order-thead .column { float: left; text-align: center; }
.order-thead .t-goods { width: 257px; padding-left: 18px; text-align: left; }
.order-thead .t-price { width: 110px; }
.order-thead .t-count { width: 63px; }
.order-thead .t-often { width: 100px; }
.order-thead .t-sum { width: 140px; }
.order-thead .t-sta { position: relative; width: 120px; }
.order-thead .t-action { width: 120px; }

.order-thead .t-sta .popover-toggle { display: inline-block; width: 108px; height: 24px; line-height: 24px; transition: none; text-align: center; border: 1px solid #e8e8e8; background-color: #fff; }
.order-thead .t-sta .popover-toggle i { display: inline-block; width: 7px; height: 4px; margin-left: 5px; vertical-align: middle; background: url('../images/arrows.png') no-repeat; }
.order-thead .t-sta .popover-toggle.hover { width: 110px; height: 26px; line-height: 26px; color: #fff; border: none; background-color: #f60; }
.order-thead .t-sta .popover-toggle.hover i { background: url('../images/arr-icon2.png') no-repeat -6px -7px; }
.order-thead .t-sta .popover { position: absolute; top: 32px; left: 5px; width: 108px; border: 1px solid #e8e8e8; border-top: 0; background-color: #fff; }
.order-thead .t-sta .popover li { line-height: 26px; }
.order-thead .t-sta .popover a { display: block; }
.order-thead .t-sta .popover a:hover { color: #f60; background-color: #fafafa; }

.order-item-list { margin-bottom: 10px; border: 1px solid #e8e8e8; background-color: #fff; }
.order-tbody .order-info { height: 38px; padding-left: 18px; line-height: 38px; color: #666; border-bottom: 1px solid #e8e8e8; background-color: #fafafa; }
.order-tbody .order-info span { margin-right: 30px; }
.order-tbody .order-info strong { margin-right: 10px; font-weight: 400; color: #333; }
.order-tbody .order-info a { color: #2448ab; }
.order-tbody .order-info a:hover { color: #f60; }
.order-tbody .order-info i { font-style: normal; color: #f60; }

.order-tbody table { width: 100%; }
.order-tbody td { overflow: hidden; text-align: center; vertical-align: top; }
.order-tbody .p-detail { border-right: 1px solid #e8e8e8; }
.order-tbody .p-detail tr { border-bottom: 1px solid #e8e8e8; }
.order-tbody .p-detail tr:last-child { border-bottom: none; }
.order-tbody .p-detail .show-more a { display: block; line-height: 36px; color: #2448ab; border-top: 1px solid #e8e8e8; background-color: #fafafa; }
.order-tbody .p-detail .show-more a:hover { color: #f60; }

.order-tbody .p-goods { overflow: hidden; width: 239px; padding: 15px 18px; text-align: left; }
.order-tbody .good-name { overflow: hidden; margin-bottom: 5px; line-height: 24px; }
.order-tbody .good-name img { display: inline-block; float: left; margin-right: 10px; }
.order-tbody .good-name a { float: left; max-width: 160px; font-size: 16px; color: #2d415a; }
.order-tbody .good-name a:hover { color: #f60; }
.order-tbody .good-detail { overflow: hidden; width: 238px; line-height: 20px; color: #666; }
.order-tbody .good-detail span { margin-right: 15px; }

.order-tbody .p-price { width: 110px; padding-top: 15px; font-size: 14px; line-height: 24px; }
.order-tbody .p-count { width: 63px; padding-top: 15px; line-height: 24px; }
.order-tbody .p-often { width: 100px; padding-top: 15px; }
.order-tbody .p-often a { display: inline-block; width: 68px; height: 22px; line-height: 22px; text-align: center; color: #2448ab; border: 1px solid #e8e8e8; }
.order-tbody .p-often a:hover { color: #f60; }
.order-tbody .p-often span { display: inline-block; width: 70px; height: 24px; line-height: 24px; text-align: center; color: #fff; background-color: #2448ab; }
.order-tbody .p-sum { width: 139px; padding-top: 15px; font-size: 18px; font-weight: bold; border-right: 1px solid #e8e8e8; }
.order-tbody .p-sta { width: 119px; padding-top: 15px; line-height: 24px; border-right: 1px solid #e8e8e8; }
.order-tbody .p-sta p { color: #666; }
.order-tbody .p-sta a { color: #2448ab; }
.order-tbody .p-sta a:hover { color: #f60; }
.order-tbody .p-action { width: 120px; padding-top: 15px; }
.order-tbody .p-action .btn-link { display: block; line-height: 24px; color: #333; }
.order-tbody .p-action .btn-link:hover { color: #f60; }
.order-tbody .p-action .btn { display: inline-block; width: 80px; height: 30px; margin: 5px 0; line-height: 30px; text-align: center; color: #fff; background-color: #fafafa; }
.order-tbody .p-action .btn-primary { background-color: #2448ab; }
.order-tbody .p-action a:hover.btn-primary { background-color: #1c3e9c; }
.order-tbody .p-action .btn-warning { background-color: #f60; }
.order-tbody .p-action .btn-default { display: inline-block; width: 78px; height: 28px; line-height: 28px; text-align: center; color: #2448ab; border: 1px solid #e8e8e8; }
.order-tbody .p-action a:hover.btn-default { color: #f60; }

.dropdown { position: relative; width: 200px; height: 32px; }
.dropdown-toggle { position: relative; display: block; width: 188px; height: 30px; padding-left: 10px; transition: none; line-height: 30px; border: 1px solid #e8e8e8; }
.dropdown-toggle:after { position: absolute; top: 0; right: 0; width: 20px; height: 30px; content: ''; background: #fafafa url('../images/arr-icon1.png') no-repeat 1px -13px; }
.dropdown-toggle.hover { color: #fff; background: #f60; }
.dropdown-toggle.hover:after { background: url('../images/arr-icon2.png') no-repeat 1px 6px; }
.dropdown-menu { position: absolute; z-index: 99; top: 32px; left: 0; width: 198px; border-right: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8; background-color: #fff; }
.dropdown-menu a { display: block; padding-left: 10px; line-height: 31px; border-bottom: 1px solid #e8e8e8; }
.dropdown-menu a:hover { color: #f60; background-color: #fafafa; }

/*03-28*/
.filter-search.focus a:hover.btn {background-color: inherit; color: #2448ab; }
.filter-search.focus a:hover.btn-submit {background-color: #1c3e9c; color: #fff; }
.main-tab .tab-nav li a:hover { color: #2448ab; }

.order-thead .t-sta .popover-toggle.hover { background-color: #2448ab; }
.order-thead .t-sta .popover a:hover { color: #2448ab;}

.order-tit .condition-form a:hover.btn-search {background-color: #1c3e9c; }
.dropdown-toggle.hover { background: #2448ab; }
.dropdown-menu a:hover { color: #2448ab;  }
.order-tbody .p-often a:hover { color: #fff; background-color: #2448ab; border: 1px solid #2448ab; }
.order-tbody .p-sta a:hover { color: #2448ab; }
.order-tbody .p-action .btn-link:hover { color: #2448ab; }
.order-tbody .p-detail .show-more a:hover { color: #2448ab; text-decoration: underline; }
.order-tbody .p-action a:hover.btn-default { color: #fff; border: 1px solid #2448ab; background-color: #2448ab;}
















