
.main .purchase-box{width: 950px; float: right; overflow: hidden; }

.main .purchase-box .mt{width: 870px; height: 49px; padding: 0 50px 0 30px; border-bottom: 1px solid #e8e8e8; background-color: #ffffff; overflow: hidden; }
.main .purchase-box .mt .mt-title{ float: left; width: 700px; height: 49px; line-height: 49px; font-size: 20px; color:#2448ab; overflow: hidden; }
.main .purchase-box .mt a.create-new{ float: right; display: block; width: 100px; height: 28px; line-height: 28px; margin-top: 10px; color: #ffffff; text-align: center; background-color: #2448ab; overflow: hidden; }
.main .purchase-box .mt a.create-new:hover{  background-color: #1c3e9c;  }

.main .purchase-box .mc{width: 950px; padding-bottom: 80px; background-color: #ffffff; overflow: hidden; }
.main .purchase-box .mc .purchase-list{ padding-left: 50px; overflow: hidden; }
.main .purchase-box .mc .purchase-list li{ float: left; height: 390px; width: 260px; margin: 20px 33px 0 0; border: 1px solid #e8e8e8; background-color: #fafafa; overflow: hidden; }
.main .purchase-box .mc .purchase-list li .title{ height: 53px; line-height: 60px; width: 232px; margin: 0 auto; font-size: 20px; color: #2d415a; text-align: center; overflow: hidden; }
.main .purchase-box .mc .purchase-list li .pic{ height: 230px; width: 230px; margin: 0 auto; border: 1px solid #e8e8e8; overflow: hidden; }
.main .purchase-box .mc .purchase-list li .pic img{ height: 230px; width: 230px; overflow: hidden; }
.main .purchase-box .mc .purchase-list li a.res-time{ display: block; height: 34px; line-height: 34px; width: 230px; margin: 10px auto; background-color: #ffffff; font-size: 14px; color: #2448ab; text-align: center; border: 1px solid #e8e8e8; overflow: hidden; }
.main .purchase-box .mc .purchase-list li a.res-time:hover{ background-color: #fafafa; }
.main .purchase-box .mc .purchase-list li .many-c{ height: 40px; width: 232px; margin: 0 auto; overflow: hidden; }
.main .purchase-box .mc .purchase-list li .many-c a.edit{ display: block; float: left; height: 38px; line-height: 38px; width: 68px; margin: 0 auto; background-color: #ffffff; font-size: 14px; color: #666666; text-align: center; border: 1px solid #e8e8e8; margin-left: 11px; overflow: hidden; }
.main .purchase-box .mc .purchase-list li .many-c a.edit:first-child{ margin-left: 0px; }
.main .purchase-box .mc .purchase-list li .many-c a.edit:hover{ background-color: #fafafa; }

.main .purchase-box .mc .purchase-list li.add{  border: 1px dashed #e8e8e8; }
.main .purchase-box .mc .purchase-list li.add a.add-pic{ display: block; height: 370px; width: 240px; margin: 7px auto; background: url("../images/add-new240x370.png") no-repeat center center; overflow: hidden; }
/*.main .purchase-box .mc .purchase-list li.add a.add-pic:hover{  background: url("../images/add-new240x370-01.png") no-repeat center center; border: 1px solid #e8e8e8; }*/



/*弹出层*/
.layer { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background: url('../images/bg-40.png') repeat; }
.layer .mt { width: 708px; height: 48px; line-height: 48px; border-bottom: 1px solid #e3e3e3; background-color: #fafafa; }
.layer .mt span { float: left; padding-left: 12px; font-size: 16px; font-weight: bold; color: #333; }
.layer .mt .del { display: inline-block; float: right; width: 32px; height: 48px; margin-right: 13px; transition: none; background: url('../images/selector-icon01.png') no-repeat -45px 19px; }
.layer .mt a:hover.del { background: url('../images/selector-icon02.png') no-repeat -45px 19px; }


/*新增采购计划*/
.add-plan { position: absolute; top: 50%; left: 50%; overflow: hidden; width: 710px; height: 374px; margin: -187px 0 0 -355px; background-color: #fff; box-shadow: 0 0 5px rgba(0,0,0,.15); }
.add-plan .mc { overflow: hidden; padding: 30px 25px; }
.add-plan .mc .mc-left { float: left; overflow: hidden; width: 150px; }
.add-plan .mc .mc-left .name { overflow: hidden; width: 150px; height: 40px; font-size: 14px; line-height: 40px; text-align: right; color: #666; }
.add-plan .mc .mc-left .name span { color: #c00; }
.add-plan .mc .mc-left .desc { overflow: hidden; width: 150px; height: 40px; margin-top: 20px; font-size: 14px; line-height: 40px; text-align: right; color: #666; }
.add-plan .mc .mc-left .desc span { color: #c00; }
.add-plan .mc .mc-right { float: left; overflow: hidden; width: 390px; margin-left: 25px; }
.add-plan .mc .mc-right .plan-name { overflow: hidden; width: 378px; height: 38px; padding-left: 10px; font-size: 14px; line-height: 38px; color: #333; border: 1px solid #ddd; }
.add-plan .mc .mc-right .plan-name:focus {border-color: #2448ab;}
.add-plan .mc .mc-right .plan-desc { resize:none; overflow: hidden; overflow-y: auto; width: 368px; height: 100px; margin-top: 20px; padding: 10px; font-size: 14px; line-height: 22px; color: #333; border: 1px solid #ddd; }
.add-plan .mc .mc-right .plan-desc:focus {border-color: #2448ab;}
.add-plan .save { display: block; overflow: hidden; width: 130px; height: 37px; margin-left: 200px; font-size: 14px; line-height: 37px; text-align: center; color: #fff; background-color: #2448ab; }
.add-plan a:hover.save { background-color: #1c3e9c; }


/*设置采购计划提醒*/
.add-plan2 { position: absolute; top: 50%; left: 50%; overflow: hidden; width: 710px; height: 640px; margin: -320px 0 0 -355px; background-color: #fff; box-shadow: 0 0 5px rgba(0,0,0,.15); }
.add-plan2 .mc-box { overflow: hidden; width: 520px; margin: 0 auto; }
.add-plan2 .mc-box .mc { overflow: hidden; }
.add-plan2 .mc-box .mc .mc-left { float: left; overflow: hidden; width: 80px; margin-top: 30px; }
.add-plan2 .mc-box .mc .mc-left .time { overflow: hidden; width: 80px; height: 40px; font-size: 14px; line-height: 40px; text-align: right; color: #666; }
.add-plan2 .mc-box .mc .mc-left .desc { overflow: hidden; width: 80px; height: 40px; margin-top: 25px; font-size: 14px; line-height: 40px; text-align: right; color: #666; }
.add-plan2 .mc-box .mc .mc-right { float: left; overflow: hidden; width: 390px; margin: 31px 0 30px 25px; }
.add-plan2 .mc-box .mc .mc-right .plan-name { overflow: hidden; width: 378px; height: 38px; margin-top: 10px; padding-left: 10px; font-size: 14px; line-height: 38px; color: #333; border: 1px solid #ddd; }
.add-plan2 .mc-box .mc .mc-right .plan-name:focus {border-color: #2448ab;}
.add-plan2 .mc-box .mc .mc-right .plan-desc { resize: none; overflow: hidden; overflow-y: auto; width: 368px; height: 80px; margin-top: 25px; padding: 10px; font-size: 14px; line-height: 22px; color: #333; border: 1px solid #ddd; }
.add-plan2 .mc-box .mc .mc-right .plan-desc:focus {border-color: #2448ab;}
.add-plan2 .mc-box .mc .mc-right .notice { overflow: hidden; width: 388px; height: 38px; }
.add-plan2 .mc-box .mc .mc-right .notice span { display: block; float: left; overflow: hidden; height: 38px; margin-right: 40px; margin-left: 8px; font-size: 14px; line-height: 38px; color: #666; }
.add-plan2 .mc-box .mc .mc-right .notice .radio { display: block; float: left; width: 14px; height: 14px; margin-top: 12px; vertical-align: middle; background: url('../images/selet-icon.png') no-repeat -3px -3px; }
.add-plan2 .mc-box .mc .mc-right .notice .radio.selected { background-position: -3px -23px; }
.add-plan2 .mc-box .mc .mc-right .notice .chk {float: left;margin-top: 10px;}
.add-plan2 .mc-box .mc .repeat-box { overflow: hidden; width: 470px; margin: 0 auto 30px; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }
.add-plan2 .mc-box .mc .repeat-box .mc-left { float: left; overflow: hidden; width: 60px; }
.add-plan2 .mc-box .mc .repeat-box .mc-left .time { overflow: hidden; width: 60px; height: 40px; font-size: 14px; line-height: 40px; text-align: right; color: #666; }
.add-plan2 .mc-box .mc .repeat-box .mc-left .desc { overflow: hidden; width: 60px; height: 40px; margin-top: 20px; font-size: 14px; line-height: 40px; text-align: right; color: #666; }
.add-plan2 .mc-box .mc .repeat-box .mc-right { float: left; overflow: hidden; width: 350px; margin-left: 25px; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .plan-name { overflow: hidden; width: 348px; height: 38px; margin-top: 10px; font-size: 14px; line-height: 38px; text-indent: 1em; color: #999; border: 1px solid #ddd; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .plan-desc { overflow: hidden; overflow-y: auto; width: 328px; height: 118px; margin-top: 20px; padding: 10px; font-size: 14px; line-height: 22px; text-indent: 1em; color: #000; border: 1px solid #ddd; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .notice { overflow: hidden; width: 348px; height: 40px; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .notice span { display: block; float: left; overflow: hidden; height: 40px; margin-right: 40px; margin-left: 8px; font-size: 14px; line-height: 38px; color: #666; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .notice .radio { display: block; float: left; width: 14px; height: 14px; margin-top: 12px; vertical-align: middle; background: url('../images/selet-icon.png') no-repeat -3px -3px; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .notice .radio.selected { background-position: -3px -23px; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .notice span.selected { color: #333; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .repeat { overflow: hidden; width: 348px; height: 40px; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .repeat .num { display: block; float: left; overflow: hidden; width: 78px; height: 38px; font-size: 14px; line-height: 38px; text-align: center; color: #333; border: 1px solid #ddd; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .repeat .num:focus {border-color: #2448ab;}
.add-plan2 .mc-box .mc .repeat-box .mc-right .repeat span { display: block; float: left; overflow: hidden; height: 40px; margin-right: 10px; margin-left: 22px; font-size: 14px; line-height: 40px; color: #666; }
.add-plan2 .mc-box .mc .repeat-box .mc-right .repeat span.no-ml { margin-left: 10px; }

.add-plan2 .save { display: block; overflow: hidden; width: 130px; height: 37px; margin-left: 200px; font-size: 14px; line-height: 37px; text-align: center; color: #fff; background-color: #2448ab; }
.add-plan2 a:hover.save { background-color: #1c3e9c; }

/*将产品添加到采购计划*/
.add-plan3 { position: absolute; top: 50%; left: 50%; width: 710px; margin-left: -355px; margin-top: -250px; border: 1px solid #e3e3e3; background-color: #fff; box-shadow: 0 0 5px rgba(0,0,0,.15); }
.add-plan3 .mc .mc-top { overflow: hidden; overflow-y: auto; width: 708px; min-height: 100px; max-height: 270px; }
.add-plan3 .mc .mc-top li { overflow: hidden; width: 708px; border-bottom: 1px solid #e3e3e3; }
.add-plan3 .mc .mc-top .mc-lt { display: block; float: left; width: 72px; height: 53px; padding-top: 36px; text-align: center; }
.add-plan3 .mc .mc-top .mc-lt input {display: none;}
.add-plan3 .mc .mc-top .mc-rt { float: left; width: 606px; min-height: 60px; padding: 17px 0 12px 24px; border-left: 1px solid #e3e3e3; }
.add-plan3 .mc .mc-top .mc-rt h5 { width: 580px; height: 32px; font-size: 18px; line-height: 32px; color: #2d415a; }
.add-plan3 .mc .mc-top .mc-rt p { display: block; width: 580px; line-height: 19px; color: #666; }
.add-plan3 .mc .mc-top .select { background-color: #fff5d2; }
.add-plan3 .mc .mc-bot { padding: 30px 0 30px 64px; }
.add-plan3 .mc .mc-bot a { font-size: 14px; text-align: center; }
.add-plan3 .mc .mc-bot .confirm { display: inline-block; width: 105px; height: 37px; margin: 0 8px; line-height: 37px; color: #fff; background-color: #2448ab; }
.add-plan3 .mc .mc-bot a:hover.confirm { background-color: #1c3e9c; }
.add-plan3 .mc .mc-bot .cancel { display: inline-block; width: 103px; height: 35px; margin: 0 8px; line-height: 33px; color: #2d415a; border: 1px solid #e3e3e3; }
.add-plan3 .mc .mc-bot a:hover.cancel { color: #f60; }
.add-plan3 .md { padding-left: 72px; padding-top: 24px; padding-bottom: 24px; border-top: 1px solid #e3e3e3; background-color: #fafafa;}
.add-plan3 .md .add-btn { display: block; width: 113px; height: 35px; margin-bottom: 15px; padding-left: 30px; line-height: 35px; color: #2d415a; border: 1px solid #e3e3e3;  background: #fafafa url('../images/bg-icon.png') no-repeat 10px 13px; }
.add-plan3 .md a:hover.add-btn { background-color: #f3f3f3; }
.add-plan3 .md input { display: inline-block; width: 248px; height: 34px; margin-right: 20px; padding-left: 10px; line-height: 34px; color: #333; border: 1px solid #ccc; }
.add-plan3 .md input:focus {border-color: #2448ab;}
.add-plan3 .md .confirm { display: inline-block; width: 110px; height: 36px; font-size: 14px; line-height: 36px; text-align: center; color: #fff; background-color: #f60; }
.add-plan3 .md a:hover.confirm { background-color: #f16101; }
.add-plan3 .md .cancel { margin-left: 20px; font-size: 14px; line-height: 36px; color: #f60; }
.add-plan3 .md a:hover.cancel { text-decoration: underline; }

/*将产品添加到采购计划*/
.add-plan4 { position: absolute; top: 50%; left: 50%; width: 710px; margin-left: -355px; margin-top: -250px; border: 1px solid #e3e3e3; background-color: #fff; box-shadow: 0 0 5px rgba(0,0,0,.15); }

.add-plan4 .mc {min-height: 236px; padding-top: 40px; color: #999;text-align: center;}
.add-plan4 .mc .bg-img{ display: block; width: 150px;height: 150px;margin: 0 auto 20px;}
.add-plan4 .mc .bg-img img {width: 100%; height: auto;}

.add-plan4 .md { padding-left: 72px; padding-top: 24px; padding-bottom: 24px; border-top: 1px solid #e3e3e3; }
.add-plan4 .md .add-btn { display: block; width: 113px; height: 35px; margin-bottom: 15px; padding-left: 30px; line-height: 35px; color: #2d415a; border: 1px solid #e3e3e3; background: #fafafa url('../images/bg-icon.png') no-repeat 10px 13px; }
.add-plan4 .md a:hover.add-btn { background-color: #f3f3f3; }
.add-plan4 .md input { display: inline-block; width: 248px; height: 34px; margin-right: 20px; padding-left: 10px; line-height: 34px; color: #333; border: 1px solid #ccc; }
.add-plan4 .md input:focus {border-color: #2448ab;}
.add-plan4 .md .confirm { display: inline-block; width: 110px; height: 36px; font-size: 14px; line-height: 36px; text-align: center; color: #fff; background-color: #f60; }
.add-plan4 .md a:hover.confirm { background-color: #f16101; }
.add-plan4 .md .cancel { margin-left: 20px; font-size: 14px; line-height: 36px; color: #f60; }
.add-plan4 .md a:hover.cancel { text-decoration: underline; }

.chk {display: inline-block; width: 14px;height: 14px; transition: none; border: 1px solid #d3d5d9;background-color: #fff;}
/*.chk:active,*/
.chk.selected {width: 16px;height: 16px; border: none; background: url("../images/chked.png") no-repeat center center / 100% auto;}

/*03-28*/
.main .purchase-box .mc .purchase-list li a.res-time:hover{ background-color: #2448ab; color: #fff; border: 1px solid #2448ab; }
.main .purchase-box .mc .purchase-list li .many-c a.edit:hover{background-color: #2448ab; color: #fff; border: 1px solid #2448ab;}

/*04-01*/
.add-plan2 {height: 700px;margin-top: -350px;}
.add-plan2 .mc-box .mc .mc-right {margin-left: 0;width: 410px;}
.add-plan2 .mc-box .mc .mc-right .notice {height: auto;padding-left: 20px;min-height: 39px;}
.add-plan2 .mc-box .mc .mc-right .plan-name {margin-top: 0;margin-left: 20px;}
.add-plan2 .mc-box .mc .mc-right .plan-desc {margin-left: 20px;}
.add-plan2 .mc-box .mc .mc-right .notice span {margin-right: 15px;}
.add-plan2 .mc-box .mc .mc-right .notice .inp-item {margin-bottom: 20px;}
.add-plan2 .mc-box .mc .mc-right .notice .inp-txt {width: 271px;height: 38px; background-color: #fafafa; font-size: 14px; border: 1px solid #ddd;padding: 0 10px;line-height: 38px;}
.add-plan2 .mc-box .mc .mc-right .notice .active .inp-txt {background-color: #fff;}

.add-plan2 .mc-box .mc .mc-left .time-set {border-bottom:1px solid #e8e8e8;width:60px;float:right;margin-bottom:20px;}
.add-plan2 .mc-box .mc .mc-left .time-time {margin-top: 80px;}
.add-plan2 .mc-box .mc .mc-right .notice-set {border-bottom:1px solid #e8e8e8;margin-bottom:20px;}
.add-plan2 .mc-box .mc .mc-right .notice-repeat {padding-left: 0;}






