/*主体*/
.main-bg { width: 100%; min-width: 1190px; background: #f0f0f0 url('../images/main-bg.png') no-repeat top left; }
.main-bg .main { width: 1190px; margin: 0 auto; padding-bottom: 30px; }

.main-top { padding-top: 20px; }
.main-top .btn-left { width: 136px; height: 40px; font-size: 14px; line-height: 40px; text-align: center; color: #333; background-color: #f4f4f4; }
.main-top .btn-speed { border-radius: 3px 0 0 3px; }
.main-top .btn-traditional { border-radius: 0 3px 3px 0; }
.main-top .btn-left:hover { color: #f60; }
.main-top .btn-left.cur { color: #fff; background-color: #f60; }
.main-top .btn-right { position: relative; z-index: 5; width: 133px; height: 35px; margin-top: 2px; margin-left: 33px; line-height: 35px; text-align: center; color: #333; border: 1px solid #dcdcdc; border-radius: 0 2px 2px 0; background-color: #f3f3f3; }
.main-top .btn-right:after { position: absolute; z-index: 4; top: -1px; left: -11px; width: 9px; height: 35px; content: ''; border: 1px solid #dcdcdc; border-right: none; border-radius: 3px 0 0 3px; background-color: #ececec; }
.main-top .btn-often { background: #f3f3f3 url('../images/rapid-icon.png') no-repeat 5px -28px; }
.main-top .btn-plan { background: #f3f3f3 url('../images/rapid-icon.png') no-repeat 5px 7px; }
.main-top .btn-right:hover { background-color: #f9f9f9; }

.data-table { margin-top: 16px; border-bottom: 1px solid #e3e3e3; background-color: #fff; box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1); }
.data-table table { width: 1190px; border: 1px solid #e3e3e3; }
.data-table thead { border-bottom: 1px solid #e3e3e3; }
.data-table thead tr {background-color: #fafafa;}
.data-table thead th { height: 43px; font-weight: 400; text-align: center; color: #666; border: 1px solid #e3e3e3; }
.data-table thead .tit-chk { width: 42px; }
.data-table thead .tit-serial { width: 47px; }
.data-table thead .tit-name { width: 227px; padding-left: 14px; text-align: left; }
.data-table thead .tit-unit { width: 159px; }
.data-table thead .tit-sku { width: 79px; }
.data-table thead .tit-code { width: 99px; }
.data-table thead .tit-shop { width: 130px; padding-left: 19px; text-align: left; }
.data-table thead .tit-retail { width: 119px; }
.data-table thead .tit-wholesale { width: 119px; }
.data-table thead .tit-op { width: 115px; }
.data-table tbody tr:hover { background-color: #f3fbff; }
.data-table tbody tr.select { background-color: #fff5d2; }
.data-table tbody td { text-align: center; vertical-align: middle; color: #666; border: 1px solid #e3e3e3; }
.data-table tbody td strong { font-size: 16px; font-weight: 400; color: #f40; }
.data-table tbody .cont-name { position: relative; padding: 14px; text-align: left; }
.data-table tbody .cont-name h3 { width: 215px; margin-bottom: 5px; font-size: 16px; line-height: 22px; color: #2d415a; }
.data-table tbody .cont-name h3 a{color: #333;}
.data-table tbody .cont-name h3 a:hover{color: #ff6600;}
.data-table tbody .cont-name img { margin-right: 5px; }
.data-table tbody .cont-name p { width: 215px; line-height: 22px; }
.data-table tbody .cont-name .inp-txt { width: 195px; height: 33px; padding: 0 9px; font-size: 14px; line-height: 33px; color: #333; border: 1px solid #e8e8e8; }
.data-table tbody .cont-name .inp-txt:focus { border: 1px solid #2448ab; }
.data-table tbody .cont-unit { overflow: hidden; }
.data-table tbody .cont-unit .change-count { float: left; margin-right: 9px; margin-left: 15px; }
.data-table tbody .cont-unit span { float: left; line-height: 28px; }
.data-table tbody .cont-shop { padding-right: 10px; padding-left: 19px; line-height: 18px; text-align: left; color: #2d415a; }
.data-table tbody .cont-op a:hover { text-decoration: underline; color: #2448ab; }

.data-table .options-box { height: 49px; padding-top: 23px; border: 1px solid #e3e3e3; border-top: none; background-color: #fcfcfc; }
.data-table .options-chk { height: 26px; margin-right: 22px; margin-left: 14px; line-height: 26px; color: #666; }
.data-table .options-chk input[type='checkbox'] { position: relative; top: -2px; margin-right: 5px; vertical-align: middle; }
.data-table .options-btn { height: 24px; margin-right: 13px; padding: 0 15px 0 32px; line-height: 24px; border: 1px solid #e8e8e8; background-color: #fff; }
.data-table .btn-plan { background: url('../images/list-icon.png') no-repeat 5px -59px; }
.data-table .btn-often { background: url('../images/list-icon.png') no-repeat 5px -92px; }
.data-table .btn-del { padding-left: 15px; }
.data-table .options-btn:hover { background-color: #f9f9f9; }

.data-table .total { padding: 35px 35px 40px 0; text-align: right; color: #666; border-right: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; }
.data-table .total em { margin: 0 5px; font-weight: 400; font-style: normal; color: #f40; }
.data-table .total strong { margin: 0 5px; font-size: 24px; font-weight: 400; color: #f40; }
.data-table .total .btn-buy { display: inline-block; width: 190px; height: 48px; margin-top: 30px; font-size: 20px; line-height: 48px; text-align: center; color: #fff; background-color: #2448ab; }
.data-table .total a:hover.btn-buy {background-color: #1c3e9c; }

.table-dropdown { position: absolute; z-index: 99; top: 49px; left: 14px; background-color: #fff; box-shadow: 0 0 1px 1px rgba(0,0,0,.1); }
.table-dropdown table { width: 970px; }
.table-dropdown thead tr { background-color: #fafafa; }
.table-dropdown .tit-name { width: 368px; }
.table-dropdown .tit-sku { width: 79px; }
.table-dropdown .tit-code { width: 99px; }
.table-dropdown .tit-shop { width: 120px; }
.table-dropdown .tit-retail { width: 119px; }
.table-dropdown .tit-wholesale { width: 119px; }
.table-dropdown tbody tr:hover { background-color: #f3fbff; }

.change-count { height: 28px; line-height: 28px; border: 1px solid #e8e8e8; }
.change-count a { float: left; width: 28px; font-family: Simsun; font-size: 16px; text-align: center; background-color: #fff; }
.change-count input[type='text'] { float: left; width: 49px; height: 28px; text-align: center; border: none; border-right: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8; }

.mar-rgt { margin-right: 10px; }


/*弹出层*/
.layer{width: 100%; height: 100%; z-index: 100; position: fixed; left: 0; top:0; background: url("../images/bg-40.png") repeat;}

/*添加到采购计划*/
.add-plan{width: 708px; height: 548px; border: 1px solid #e3e3e3; box-shadow: 0 0 5px rgba(0,0,0,0.15); position: absolute; left: 50%; top:50%; margin: -274px 0 0 -354px; border-radius: 4px; background-color: #fff;}
.add-plan .mt{width: 708px; height:48px; line-height: 48px; background-color: #fafafa; border-bottom: 1px solid #e3e3e3; }
.add-plan .mt span{float: left; font-size: 16px; color: #333; font-weight: bold; padding-left: 12px;}
.add-plan .mt .del{display: inline-block; width: 36px; height: 48px; text-align: center; color: #777; font-size: 32px; line-height: 48px; float: right; margin-right:14px; }
.add-plan .mt a:hover.del{color: #444;}
.add-plan .md{width: 708px; padding-top: 24px; border-top: 1px solid #e3e3e3; text-align: center;}
.add-plan .md .confirm{display: inline-block; width: 105px; height: 37px; line-height: 37px;  color: #fff; border-radius: 2px; background-color: #2448ab; margin: 0 8px; }
.add-plan .md a:hover.confirm{background-color: #1c3e9c;}
.add-plan .md .cancel{display: inline-block; width: 103px; height: 35px; line-height: 33px;  color: #2d415a; border: 1px solid #e3e3e3; border-radius: 2px; margin: 0 8px; }
.add-plan .md a:hover.cancel{background-color: #fcfcfc;}

.add-plan .mc .mc-top{width: 708px; min-height: 100px; max-height: 270px; overflow: hidden; overflow-y: auto;}
.add-plan .mc .mc-top li{width: 708px; border-bottom: 1px solid #e3e3e3; overflow: hidden; }
.add-plan .mc .mc-top .mc-lt{display: block; width: 72px; padding-top: 36px; height: 53px; text-align: center; float: left;}
.add-plan .mc .mc-top .mc-rt{width: 606px; min-height: 60px; padding: 17px 0 12px 24px; border-left: 1px solid #e3e3e3; float: left; }
.add-plan .mc .mc-top .mc-rt h5{width: 580px; height: 32px; line-height: 32px; color: #2d415a; font-size: 18px;}
.add-plan .mc .mc-top .mc-rt p{display: block; width: 580px;line-height: 19px; color: #666;}
.add-plan .mc .mc-top .select{background-color: #fff5d2;}

.add-plan .mc .mc-bot{height: 115px; padding: 14px 0 0 97px;}
.add-plan .mc .mc-bot .add-btn{display: block; width: 113px; padding-left: 30px; border: 1px solid #e3e3e3; color: #2d415a; margin-bottom: 15px; height: 35px; line-height: 35px; border-radius: 2px; background: #fafafa url("../images/bg-icon.png") no-repeat 10px 13px;}
.add-plan .mc .mc-bot a:hover.add-btn{background-color: #f3f3f3;}
.add-plan .mc .mc-bot input{display: inline-block; width: 157px; height: 34px; line-height: 34px; border: 1px solid #cccccc; color: #333; margin-right: 5px; padding-left: 10px;}
.add-plan .mc .confirm{display: inline-block; width: 105px; text-align: center; height: 36px; line-height: 36px;  color: #fff; border-radius: 2px; background-color: #ff6600;}
.add-plan .mc a:hover.confirm{background-color: #f16101;}
.add-plan .mc .cancel{line-height: 36px;  color: #ff6600; margin-left: 28px;}
.add-plan .mc a:hover.cancel{text-decoration: underline;}


/*对话框*/
.layer-dialog {position: absolute; top: 270px; left: 50%; width: 998px; margin-left: -500px;  border-radius: 3px; background-color: #fff;}
.layer-header {height: 49px;background-color: #fafafa; line-height: 49px;border-radius: 3px 3px 0 0;}
.layer-header h3 {float: left;margin-left: 11px;font-size: 16px; color: #333;font-weight: 700;}
.layer-header .btn-close {float: right; font-size: 32px; color: #777;margin-right: 32px;}
.layer-header .btn-close:hover {color: #444;}
.layer-footer { text-align: center;padding: 30px 0 40px;}
.layer-footer .btn-cancle {display: inline-block; width: 143px;height: 35px;text-align: center;line-height: 35px; color: #2d415a; border: 1px solid #e3e3e3;border-radius: 2px;}
.layer-footer .btn-cancle:hover {background-color: #fcfcfc;}
.layer-footer .btn-import {display: inline-block; padding: 0 17px; margin-right: 10px; height: 37px;text-align: center;line-height: 37px; color: #fff; background-color: #2448ab; border-radius: 2px;}

.layer-choose-plan {top: 50%;margin-top: -260px;}
.layer-choose-plan .table-box {height: 365px;padding-bottom: 1px; overflow-x: hidden;overflow-y: auto;}
.layer-choose-plan table {width: 100%;border: 1px solid #e3e3e3;}
.layer-choose-plan td {border: 1px solid #e3e3e3;text-align: center;vertical-align: middle;color: #666;}
.layer-choose-plan .td-serial {width: 42px;}
.layer-choose-plan .td-name {width: 540px;text-align: left; padding: 20px; }
.layer-choose-plan .td-name h4 {font-size: 18px; color: #2d415a;margin-bottom: 10px;line-height: 24px;}
.layer-choose-plan .td-name p {line-height: 16px;}
.layer-choose-plan .td-op {width: 373px;font-size: 0;}
.layer-choose-plan .td-op .btn {display: inline-block;margin: 0 5px; width: 143px;height: 35px; border-radius: 2px; font-size: 12px; border: 1px solid #e3e3e3;color: #2d415a;line-height: 35px;text-align: center;}
.layer-choose-plan .td-op .btn-view {background: url("../images/eye-icon.png") no-repeat 12px 12px;}
.layer-choose-plan .td-op .btn:hover {color: #2448ab;background-color: #fcfcfc;}
.layer-choose-plan .td-op .btn-choose.cur {background-color: #2448ab;color: #fff;}

.layer-view-plan {top: 50%;margin-top: -290px;}
.layer-view-plan .modal-body-top {padding: 20px 35px;}
.layer-view-plan .plan-name {font-size: 18px; color: #2d415a;margin-bottom: 10px;}
.layer-view-plan .btn-back {width: 128px; border: 1px solid #e3e3e3; color: #2d415a; background-color: #fff; height: 38px;text-align: center;line-height: 38px;}
.layer-view-plan .btn-back:hover {background-color: #fcfcfc;}
.layer-view-plan .table-box {height: 421px;padding-bottom: 1px; overflow-x: hidden;overflow-y: auto;}
.layer-view-plan table {width: 100%;border: 1px solid #e5e5e5;}
.layer-view-plan td {border: 1px solid #e3e3e3;}
.layer-view-plan thead { border-bottom: 1px solid #e3e3e3; }
.layer-view-plan thead tr {background-color: #fafafa;}
.layer-view-plan thead th { height: 43px; font-weight: 400; text-align: center; color: #666; border: 1px solid #e3e3e3; }
.layer-view-plan thead .tit-chk { width: 42px; }
.layer-view-plan thead .tit-serial { width: 47px; }
.layer-view-plan thead .tit-name { width: 237px; padding-left: 14px; text-align: left;}
.layer-view-plan thead .tit-unit { width: 159px; }
.layer-view-plan thead .tit-sku { width: 79px; }
.layer-view-plan thead .tit-code { width: 99px; }
.layer-view-plan thead .tit-shop { width: 130px; padding-left: 19px; text-align: left; }
.layer-view-plan thead .tit-wholesale { width: 165px; }
.layer-view-plan tbody tr:hover { background-color: #f3fbff; }
.layer-view-plan tbody tr.select { background-color: #fff5d2; }
.layer-view-plan tbody td { text-align: center; vertical-align: middle; color: #666; border: 1px solid #e3e3e3; }
.layer-view-plan tbody td strong { font-size: 16px; font-weight: 400; color: #f40; }
.layer-view-plan tbody .cont-name { position: relative; padding: 10px 14px; text-align: left; }
.layer-view-plan tbody .cont-name h3 { width: 215px; margin-bottom: 5px; font-size: 16px; line-height: 22px; color: #2d415a; }
.layer-view-plan tbody .cont-name img { margin-right: 5px; }
.layer-view-plan tbody .cont-name p { width: 215px; line-height: 22px; }
.layer-view-plan tbody .cont-name .inp-txt { width: 195px; height: 33px; padding: 0 9px; font-size: 14px; line-height: 33px; color: #333; border: 1px solid #e8e8e8; }
.layer-view-plan tbody .cont-name .inp-txt:focus { border: 1px solid #2448ab; }
.layer-view-plan tbody .cont-unit { overflow: hidden; }
.layer-view-plan tbody .cont-unit input[type="text"] { font-size: 14px; color: #333; width: 49px; margin-right: 10px; height: 28px; border: 1px solid #e8e8e8; text-align: center;line-height: 28px;}
.layer-view-plan tbody .cont-unit span {  line-height: 28px; }
.layer-view-plan tbody .cont-shop { padding-right: 19px; padding-left: 19px; line-height: 18px; text-align: left; color: #2d415a; }

.layer-often {top: 50%;margin-top: -290px;}
.layer-often {width: 1200px;margin-left: -600px;}
.layer-often .table-box {height: 421px;padding-bottom: 1px; overflow-x: hidden;overflow-y: auto;}
.layer-often table {width: 100%;border: 1px solid #e5e5e5;}
.layer-often td {border: 1px solid #e3e3e3;}
.layer-often thead { border-bottom: 1px solid #e3e3e3; }
.layer-often thead tr {background-color: #fafafa;}
.layer-often thead th { height: 43px; font-weight: 400; text-align: center; color: #666; border: 1px solid #e3e3e3; }
.layer-often thead .tit-chk { width: 42px; }
.layer-often thead .tit-serial { width: 47px; }
.layer-often thead .tit-name { width: 237px; padding-left: 14px; text-align: left;}
.layer-often thead .tit-unit { width: 159px; }
.layer-often thead .tit-sku { width: 79px; }
.layer-often thead .tit-code { width: 99px; }
.layer-often thead .tit-shop { width: 130px; padding-left: 19px; text-align: left; }
.layer-often thead .tit-retail { width: 119px; }
.layer-often thead .tit-wholesale { width: 119px; }
.layer-often thead .tit-op { width: 115px; }
.layer-often tbody tr:hover { background-color: #f3fbff; }
.layer-often tbody tr.select { background-color: #fff5d2; }
.layer-often tbody td { text-align: center; vertical-align: middle; color: #666; border: 1px solid #e3e3e3; }
.layer-often tbody td strong { font-size: 16px; font-weight: 400; color: #f40; }
.layer-often tbody .cont-name { position: relative; padding: 10px 14px; text-align: left; }
.layer-often tbody .cont-name h3 { width: 215px; margin-bottom: 5px; font-size: 16px; line-height: 22px; color: #2d415a; }
.layer-often tbody .cont-name img { margin-right: 5px; }
.layer-often tbody .cont-name p { width: 215px; line-height: 22px; }
.layer-often tbody .cont-name .inp-txt { width: 195px; height: 33px; padding: 0 9px; font-size: 14px; line-height: 33px; color: #333; border: 1px solid #e8e8e8; }
.layer-often tbody .cont-name .inp-txt:focus { border: 1px solid #2448ab; }
.layer-often tbody .cont-unit { overflow: hidden; }
.layer-often tbody .cont-unit .change-count {float: left; margin-left: 15px; margin-right: 9px; display: inline-block;}
.layer-often tbody .cont-unit span { float: left; font-size: 12px;  line-height: 28px; }
.layer-often tbody .cont-shop { padding-right: 19px; padding-left: 19px; line-height: 18px; text-align: left; color: #2d415a; }
.layer-often tbody .cont-op a:hover {text-decoration: underline;color: #2448ab;}


/*新增采购计划*/
.new-plan{width: 708px; height: 374px; border: 1px solid #e3e3e3; box-shadow: 0 0 5px rgba(0,0,0,0.15); position: absolute; left: 50%; top:50%; margin: -187px 0 0 -354px; border-radius: 4px; background-color: #fff;}
.new-plan .mt{width: 708px; height:48px; line-height: 48px; background-color: #fafafa; border-bottom: 1px solid #e3e3e3; }
.new-plan .mt span{float: left; font-size: 16px; color: #333; font-weight: bold; padding-left: 12px;}
.new-plan .mt .del{display: inline-block; width: 36px; height: 48px; text-align: center; color: #777; font-size: 32px; line-height: 48px; float: right; margin-right:14px; }
.new-plan .mt a:hover.del{color: #444;}

.new-plan .mc {width: 708px; padding-top: 32px;}
.new-plan .mc .mc-item{overflow: hidden; width: 708px; margin-bottom: 15px;}
.new-plan .mc .mc-item span{text-align: right; width: 175px; padding-right: 25px; height: 40px; line-height: 40px; color: #333333; font-size: 14px; float: left;}
.new-plan .mc .mc-item i{color: #cc0000;}
.new-plan .mc .mc-item input{width: 378px; padding-left: 10px; height: 38px; border: 1px solid #dddddd; line-height: 38px; font-size: 14px; color: #333; float: left;}
.new-plan .mc .mc-item textarea{width: 368px; padding: 5px 10px; line-height: 22px; height: 108px; border: 1px solid #dddddd;}
.new-plan .mc a{display: block; width: 130px; text-align: center; height: 37px; line-height: 37px; font-size: 14px; color: #fff; background-color: #2448ab; margin: 30px 0 0 200px;}
.new-plan .mc a:hover{background-color: #1c3e9c;}






