.main-bg { width: 100%; min-width: 1190px; background-color: #eee; }
.main-bg .main { width: 1190px; margin: 0 auto; padding-bottom: 30px; }

.c-main { width: 950px; }

.main-tab { margin-bottom: 10px; background-color: #fff; }
.main-tab .tab-nav { height: 50px; padding-left: 10px; font-size: 0; border-bottom: 1px solid #ccc; }
.main-tab .tab-nav li {position: relative; display: inline-block; width: 110px; height: 50px; padding: 0 5px; }
.main-tab .tab-nav li:after {position: absolute; top: 17px;right: 0;content: "";width: 1px;height: 16px;background-color: #e8e8e8;}
.main-tab .tab-nav li a { display: block; width: 110px; height: 49px; font-size: 16px; line-height: 49px; text-align: center; color: #2d415a; }
.main-tab .tab-nav li a:hover { color: #f60; }
.main-tab .tab-nav .cur { border-bottom: 1px solid #fff; }
.main-tab .tab-nav .cur a { font-weight: 700; color: #2448ab; border-bottom: 2px solid #2448ab; }
.main-tab dl { padding: 15px 30px; }
.main-tab dt { margin-bottom: 5px; font-size: 16px; line-height: 24px; color: #2d415a; }
.main-tab dd { line-height: 20px; color: #666; }

.main-form { margin-bottom: 10px; padding: 20px 30px 0; background-color: #fff; }
.main-form .form-group { float: left; margin-right: 90px; margin-bottom: 20px; }
.main-form .form-group .lab { font-size: 14px; line-height: 32px; color: #333; }
.main-form .form-group .inp-group { display: inline-block; font-size: 0; }
.main-form .form-group .inp-group span { display: inline-block; width: 20px; font-size: 12px; line-height: 32px; text-align: center; }
.main-form .form-group .inp-txt { width: 198px; height: 30px; padding: 0 10px; font-size: 14px; line-height: 30px; border: 1px solid #ddd; }
.main-form .form-group .inp-s { width: 78px; }
.main-form .form-group input:focus { border-color: #2448ab; }
.main-form .btn-search { float: right; width: 120px; height: 32px; font-size: 14px; line-height: 32px; text-align: center; color: #fff; background-color: #2448ab; }

.c-main .order-box { margin-bottom: 20px; padding: 10px 10px 20px; background-color: #fff; }

.c-main .order-thead { width: 928px; height: 38px; margin-bottom: 10px; line-height: 38px; color: #666; border: 1px solid #e8e8e8; background-color: #fafafa; }
.c-main .order-thead .column { float: left; text-align: center; }
.c-main .order-thead .t-chk { width: 35px; }
.c-main .order-thead .t-goods { width: 460px; text-align: left; }
.c-main .order-thead .t-price { width: 110px; }
.c-main .order-thead .t-count { width: 63px; }
.c-main .order-thead .t-sum { width: 140px; }
.c-main .order-thead .t-action { width: 120px; }
.c-main .order-thead .t-chk .chk { vertical-align: middle; }

.c-main .order-item-list { margin-bottom: 10px; border: 1px solid #e8e8e8; background-color: #fff; }
.c-main .order-tbody .order-info { height: 38px; padding-left: 18px; line-height: 38px; color: #666; border-bottom: 1px solid #e8e8e8; background-color: #fafafa; }
.c-main .order-tbody .order-info span { margin-right: 30px; }

.c-main .order-tbody table { width: 100%; }
.c-main .order-tbody td { overflow: hidden; text-align: center; vertical-align: top; }
.c-main .order-tbody .p-detail { border-right: 1px solid #e8e8e8; }
.c-main .order-tbody .p-detail tr { border-bottom: 1px solid #e8e8e8; }
.c-main .order-tbody .p-detail tr:last-child { border-bottom: none; }
.c-main .order-tbody .p-detail .show-more a { display: block; line-height: 36px; color: #2448ab; border-top: 1px solid #e8e8e8; background-color: #fafafa; }
.c-main .order-tbody .p-detail .show-more a:hover { color: #f60; }

.c-main .order-tbody .p-chk { width: 35px; padding-top: 15px; }
.c-main .order-tbody .p-goods { overflow: hidden; width: 442px; padding: 15px 18px 15px 0; text-align: left; }
.c-main .order-tbody .good-name { overflow: hidden; margin-bottom: 5px; line-height: 24px; }
.c-main .order-tbody .good-name img { display: inline-block; float: left; margin-right: 10px; }
.c-main .order-tbody .good-name a { float: left; max-width: 160px; font-size: 16px; color: #2d415a; }
.c-main .order-tbody .good-name a:hover {color: #f60;}
.c-main .order-tbody .good-detail { overflow: hidden; width: 238px; line-height: 20px; color: #666; }

.c-main .order-tbody .p-price { width: 110px; padding-top: 15px; font-family: 'Microsoft YaHei'; font-size: 14px; line-height: 24px; }
.c-main .order-tbody .p-count { width: 63px; padding-top: 15px; font-family: 'Microsoft YaHei'; line-height: 24px; }
.c-main .order-tbody .p-often { width: 100px; padding-top: 15px; }
.c-main .order-tbody .p-often a { display: inline-block; width: 68px; height: 22px; line-height: 22px; text-align: center; color: #2448ab; border: 1px solid #e8e8e8; }
.c-main .order-tbody .p-often span { display: inline-block; width: 70px; height: 24px; line-height: 24px; text-align: center; color: #fff; background-color: #2448ab; }

.c-main .order-tbody .p-sum { width: 139px; padding-top: 15px; font-family: 'Microsoft YaHei'; font-size: 18px; font-weight: bold; border-right: 1px solid #e8e8e8; }
.c-main .order-tbody .p-sta { width: 119px; padding-top: 15px; line-height: 24px; border-right: 1px solid #e8e8e8; }
.c-main .order-tbody .p-sta p { color: #666; }
.c-main .order-tbody .p-sta a { color: #2448ab; }
.c-main .order-tbody .p-sta a:hover { text-decoration: underline; }

.c-main .order-tbody .p-action { width: 120px; padding-top: 15px; }
.c-main .order-tbody .p-action .btn-link { display: block; line-height: 24px; color: #333; }
.c-main .order-tbody .p-action .btn-link:hover { text-decoration: underline; }
.c-main .order-tbody .p-action .btn { display: inline-block; width: 90px; height: 30px; margin: 5px 0; line-height: 30px; text-align: center; color: #fff; background-color: #fafafa; }
.c-main .order-tbody .p-action .btn-primary { background-color: #2448ab; }
.c-main .order-tbody .p-action .btn-warning { background-color: #f60; }
.c-main .order-tbody .p-action .btn-default { display: inline-block; width: 88px; height: 28px; line-height: 28px; text-align: center; text-align: center; color: #2448ab; border: 1px solid #e8e8e8; }
.c-main .order-tbody .p-action .btn-default:hover {color: #f60;}

.chk { display: inline-block; width: 14px; height: 14px; border: 1px solid #e8e8e8; background-color: #fff; }
.chk:active,
.chked { width: 16px; height: 16px; border: none; background: url('../images/chked.png') no-repeat; }



/*03-28*/
.main-tab .tab-nav li a:hover { color: #2448ab; }
.main-form a:hover.btn-search {  background-color: #1c3e9c; }
.c-main .order-tbody .p-action .btn-default:hover {color: #fff; border: 1px solid #2448ab; background-color: #2448ab; }
.c-main .order-tbody .p-detail .show-more a:hover { color: #2448ab; }

/*分页*/
.pager { overflow: hidden; padding-top: 30px; }
#infoPage { height: 42px; margin-top: 4px; margin-bottom: 10px; font-size: 14px; text-align: center; _float: right; }
#infoPage { float: right; width: auto; }
#infoPage ul li { float: left; line-height: 38px; list-style: none; color: #999; }
#infoPage li span { float: left; }
#infoPage .prev { margin-right: 20px; }
#infoPage .next { margin-left: 15px; }
#infoPage .everyPage { display: inline-block; width: 38px; height: 38px; margin-left: 12px; line-height: 38px; text-align: center; color: #666; border: 1px solid #e9e9e9; border-radius: 1px; background-color: #fff; box-shadow: 0 2px 2px rgba(0,0,0,.1); }
#infoPage .nowPage { display: inline-block; width: 38px; height: 38px; margin-left: 12px; line-height: 38px; text-align: center; color: #fff; border: 1px solid #2448ab; border-radius: 1px; background: #2448ab; box-shadow: 0 2px 2px rgba(0,0,0,.1); }
#infoPage select { height: 18px; color: #2448ab; }
#infoPage span,
.pager a { text-decoration: none; }
#infoPage li { display: inline-block; height: 45px; }
#infoPage li a,
#infoPage .pages li span { display: block; float: left; width: auto; line-height: 11px; }
#infoPage li a:hover { color: #2448ab; border: 1px solid #2448ab; background: #fff; }
#infoPage .upPage,
#infoPage .downPage { display: inline-block; width: 70px; height: 38px; margin-left: 12px; font-size: 14px; font-style: normal; line-height: 38px; text-align: center; color: #333; border: 1px solid  #e9e9e9; border-radius: 1px; background-color: #fff; box-shadow: 0 2px 2px rgba(0,0,0,.1); }
#infoPage li.current { cursor: default; color: #000; }
#inputPage { width: 50px; height: 38px; margin: 0 10px; font-size: 14px; line-height: 38px; text-align: center; color: #666; border: #e9e9e9 1px solid; }
#inputPage:focus { border: 1px solid #f60; }
#infoPage .goToPage { width: 70px; height: 38px; margin-left: 12px; font-size: 14px; line-height: 34px; cursor: pointer; transition: all 120ms; color: #999; border: 1px solid #e9e9e9; background: #fff; box-shadow: 0 2px 2px rgba(0,0,0,.1); _padding-top: 1px; *padding-top: 1px; }
#infoPage .goToPage:hover { color: #2448ab; border: 1px solid #2448ab; background: #fff; }

