.main-bg { width: 100%; min-width: 1190px; background-color: #eee; }
.main-bg .main { width: 1190px; margin: 0 auto; padding-bottom: 30px; }

.c-main { width: 950px;background-color: #fff;}

.main-tab { background-color: #fff; }
.main-tab .tab-nav { height: 50px; padding-left: 10px; font-size: 0; border-bottom: 1px solid #ccc; }
.main-tab .tab-nav li {position: relative; display: inline-block; width: 110px; height: 50px; padding: 0 5px; }
.main-tab .tab-nav li:after {position: absolute; top: 17px;right: 0;content: "";width: 1px;height: 16px;background-color: #e8e8e8;}
.main-tab .tab-nav li a { position: relative; display: block; width: 110px; height: 49px; font-size: 16px; line-height: 49px; text-align: center; color: #2d415a; }
.main-tab .tab-nav li a:hover { color: #f60; }
.main-tab .tab-nav .cur { border-bottom: 1px solid #fff; }
.main-tab .tab-nav .cur a { font-weight: 700; color: #2448ab; border-bottom: 2px solid #2448ab; }


.order-box { width: 930px; margin: 10px auto; background-color: #fff; }

.order-thead { width: 928px; height: 38px; margin-bottom: 10px; line-height: 38px; color: #666; border: 1px solid #e8e8e8; background-color: #fafafa; }
.order-thead .column { float: left; text-align: center; }
.order-thead .t-goods { width: 307px; padding-left: 18px; text-align: left; }
.order-thead .t-price { width: 110px; }
.order-thead .t-count { width: 63px; }
.order-thead .t-batch { width: 140px; }
.order-thead .t-quantity { width: 170px; }
.order-thead .t-action { width: 120px; }

.order-item-list { margin-bottom: 10px; border: 1px solid #e8e8e8; background-color: #fff; }
.order-tbody .order-info { height: 38px; padding-left: 18px; line-height: 38px; color: #666; border-bottom: 1px solid #e8e8e8; background-color: #fafafa; }
.order-tbody .order-info span { margin-right: 30px; }
.order-tbody .order-info strong { margin-right: 10px; font-weight: 400; color: #333; }
.order-tbody .order-info a { color: #2448ab; }
.order-tbody .order-info a:hover { text-decoration: underline; }
.order-tbody .order-info i { font-style: normal; color: #f60; }

.order-tbody table { width: 100%; }
.order-tbody td { overflow: hidden; text-align: center; vertical-align: top; }
.order-tbody .p-detail { border-right: 1px solid #e8e8e8; }
.order-tbody .p-detail tr { border-bottom: 1px solid #e8e8e8; }
.order-tbody .p-detail tr:last-child { border-bottom: none; }
.order-tbody .p-detail .show-more a { display: block; line-height: 36px; color: #2448ab; border-top: 1px solid #e8e8e8; background-color: #fafafa; }
.order-tbody .p-detail .show-more a:hover { text-decoration: underline; }

.order-tbody .p-goods { overflow: hidden; width: 239px; padding: 15px 18px; text-align: left; }
.order-tbody .good-name { overflow: hidden; margin-bottom: 5px; line-height: 24px; }
.order-tbody .good-name img { display: inline-block; float: left; margin-right: 10px; }
.order-tbody .good-name a { float: left; max-width: 160px; font-size: 16px; color: #2d415a; }
.order-tbody .good-name a:hover{color: #f60;}
.order-tbody .good-detail { overflow: hidden; width: 238px; line-height: 20px; color: #666; }
.order-tbody .good-detail span {margin-right:15px;}

.order-tbody .p-price { width: 110px; padding-top: 15px; font-size: 14px; line-height: 24px; }
.order-tbody .p-count { width: 63px; padding-top: 15px;  line-height: 24px; }
.order-tbody .p-batch { width: 139px; padding-top: 15px; border-right: 1px solid #e8e8e8;line-height: 24px; }
.order-tbody .p-quantity { width: 169px; padding-top: 15px; line-height: 24px; border-right: 1px solid #e8e8e8; }

.order-tbody .p-action { width: 120px; padding-top: 15px; }
.order-tbody .p-action .btn-link { display: block; line-height: 24px; color: #333; }
.order-tbody .p-action .btn-link:hover { color: #f60; }

.apply-form {width: 930px;margin: 0 auto;}
.apply-form h3 {border: 1px solid #e8e8e8;padding-left: 19px;line-height: 38px;font-size: 14px; color: #2d415a;font-weight: 700;background-color: #fafafa;}

.apply-form .inp-group {overflow: hidden;}
.apply-form .inp-group .lab{float: left;width: 80px;padding-left: 20px;position: relative;color: #666;line-height: 44px;}
.apply-form .inp-group .lab i {position: absolute;left: 12px;color: #f00;top: 0;}
.apply-form .inp-group .val {float: left;width: 755px;overflow: hidden;}
.apply-form .inp-group .radio {line-height: 44px;font-size: 14px; transition: none; margin-right: 50px; color: #333;padding-left: 25px;background:url("../images/selet-icon.png") no-repeat -2px -2px;}
.apply-form .inp-group .radio:active,
.apply-form .inp-group .radio.selected {background-position: -2px -22px;}
.apply-form .inp-group textarea {width: 330px;height: 110px; margin-top: 15px; border: 1px solid #e8e8e8;resize: none;padding: 5px;}
.apply-form .inp-group textarea:focus{border-color: #2448ab;}
.apply-form .inp-group .ta-t{color: #666;margin-left: 15px;}
.apply-form .inp-group .img {position: relative; float: left; width: 100px;height: 100px;overflow: hidden;margin-right: 20px;margin-top: 15px;}
.apply-form .inp-group .img img {width: 100%;height: 100%;}
.apply-form .inp-group .img a {position: absolute; bottom: 0;left: 0; display: none; width: 100px;height: 30px;line-height: 30px;text-align: center;color: #fff;background-color: #ccc;background-color: rgba(0,0,0,.4);}
.apply-form .inp-group .img:hover a {display: block;}
.apply-form .inp-group .txt {float: left;width: 20px;text-align: center;margin-left: 15px;margin-top: 102px;}
.apply-form .inp-group .btn-up {position: relative; float: left;width: 96px;height: 42px; padding-top: 54px; margin-top: 15px;border: 2px dashed #e8e8e8; background-color: #fcfcfc; text-align: center;font-size: 14px; color: #999;}
.apply-form .inp-group .btn-up:after {position: absolute;top: 5px;left: 33px;content:"+";font-size: 52px;color: #ccc;}
/*.apply-form .inp-group .btn-up:hover {border-color: #ccc;}*/
.apply-form .inp-group .tip {clear: both;line-height: 44px; color: #999;}
.apply-form .inp-group .m-info {width: 790px;background-color: #fafafa;margin-top: 15px;line-height: 30px;color: #666;padding: 10px 20px;}
.apply-form .inp-group .m-info p {overflow: hidden;}
.apply-form .inp-group .m-info-lab {float: left;width: 65px;}
.apply-form .inp-group .m-info-val {float: left;width: 720px;}
.apply-form .form-btn {width: 830px;float: right;border-top: 1px solid #e8e8e8;padding-top: 30px;padding-bottom: 90px;margin-top: 30px;}
.apply-form .form-btn .btn{display: inline-block;text-align: center;font-size: 14px;}
.apply-form .form-btn .btn-primary {width: 120px;height: 34px;background-color: #2448ab;line-height: 34px;color: #fff;margin-right:10px;}
.apply-form .form-btn .btn-default {width: 118px;height: 32px;line-height: 32px;color: #2448ab;border: 1px solid #e8e8e8;}
.apply-form .form-btn .btn-default:hover {color: #f60;}

.quantity-form { width: 107px; height: 28px; font-size: 0; line-height: 28px; border: 1px solid #e8e8e8;  margin: 0 auto 10px;}
.quantity-form a {display: inline-block; float: left; width: 28px; height: 28px; font-family: Simsun; font-size: 28px; text-align: center; color: #999; }
.quantity-form a:hover {color: #666;}
.quantity-form .inp-txt { display: inline-block; float: left; width: 49px; height: 28px; font-size: 14px; line-height: 30px; text-align: center; border: none; border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; color: #333333;  outline: none; }



/*03-28*/
.main-tab .tab-nav li a:hover { color: #2448ab; }
.order-tbody .p-action .btn-link:hover { color: #2448ab; }
.apply-form .form-btn .btn-default:hover {color: #2448ab; text-decoration: underline; }

/*04-01--收货信息*/
.apply-form .inp-group .m-info {padding-bottom: 20px;}
.apply-form .inp-group .m-info .addr-item { overflow: hidden; padding: 12px 0 12px 20px; font-size: 14px; line-height: 20px; color: #666; border-bottom: 1px dashed #e8e8e8; }
.apply-form .inp-group .m-info .addr-item .inp-radio { float: left; margin-top: 2px;margin-right:28px;transition:none;}
.apply-form .inp-group .m-info .addr-item .addr-name { float: left; min-width: 70px; margin-right: 3px;}
.apply-form .inp-group .m-info .addr-item .addr-tel { float: left;  width: 115px;}
.apply-form .inp-group .m-info .addr-item .addr-detail { float: left; max-width: 435px; }
.apply-form .inp-group .m-info .addr-item.selected { color: #3549a7; }

.inp-radio {display: inline-block;width: 14px;height: 14px;background: url(../images/selet-icon.png) no-repeat -3px -3px;}
.inp-radio:active,
.inp-radio.active {background-position: -3px -23px;}










