@charset 'utf-8';
.header-mc {
    overflow: visible;
}
.header-mc .search {
    position: relative;
    overflow: visible;
}
.search-dropdown {
    position: absolute;
    top: 36px;
    left: 2px;
    width: 358px;
    border: 1px solid #bfbfbf;
    background-color: #fff;
}
.search-dropdown li {line-height: 30px;}
.search-dropdown li a {
    display: block;
    padding: 0 13px;
    color: #333;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
}
.search-dropdown li a:hover {
    background-color: #f3f3f3;
}
