.prom-list{width: 950px;  min-height: 915px; background-color: #ffffff; float: right;}
.prom-list .mt{width: 950px;}
.prom-list .mt .top{width: 950px; height: 50px; overflow: hidden; background-color: #fff; border-bottom: 1px solid #e8e8e8; }
.prom-list .mt .top span{color: #2448ab; font-size: 20px; line-height: 50px; float: left; margin-left: 30px;}
.prom-list .mt .top a{float: right; color: #2448ab; display: block; width: 94px; padding-left: 24px; text-align: center; line-height: 26px; height: 26px; border: 1px solid #e8e8e8; margin: 11px 10px 0 0; background: url("../images/arrows.png") no-repeat 11px -130px;}
.prom-list .mt .top a:hover{background:#fcfcfc url("../images/arrows.png") no-repeat 11px -130px;}


.prom-list .mc{width: 950px; overflow: hidden;   position: relative; }
.prom-list .mc .mc-notice{width: 890px; padding: 0 30px; height: 36px; line-height: 36px; background-color: #fff9d9; color: #666666; border-bottom: 1px solid #ffdcaa; overflow: hidden; }
.prom-list .mc .mc-user-msg{ padding: 10px 0 0 30px; background-color: #ffffff; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li{ width: 500px;  border-bottom: 1px dashed #e8e8e8; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li:first-child{ height: 52px; line-height: 52px; font-size: 16px; font-weight: bold; color: #2d415a; border-bottom: 1px solid #e8e8e8; }
.prom-list .mc .mc-user-msg .msg-list li span{ display: block; height: 52px; line-height: 52px; float: left; }
.prom-list .mc .mc-user-msg .msg-list li span.msg-name{ width: 75px; color: #666666; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li span.msg-desc{ width: 425px; color: #333333; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li span.msg-desc img{ width: 18px; height: 25px; margin-right: 8px; overflow: hidden; }

.prom-list .mc .mc-user-msg .msg-list li span.msg-desc i { margin-right: 38px; }
.prom-list .mc .mc-user-msg .msg-list li span.msg-desc .radio { display: inline-block; width: 14px; height: 14px; margin-right: 12px; vertical-align: middle; background: url('../images/selet-icon.png') no-repeat -3px -3px; }
.prom-list .mc .mc-user-msg .msg-list li span.msg-desc .radio.selected { background-position: -3px -23px; }

.prom-list .mc .mc-user-msg .msg-list li .name{ float: left; width: 235px; height: 30px; background-color: #ffffff; border: 1px solid #dbdbdb; text-indent: 1em; color: #333333; margin-top: 10px; overflow: hidden; }

.prom-list .mc .mc-user-msg .save{ display: block; width: 120px; height: 32px; margin-top: 20px; line-height: 32px; text-align: center; color: #ffffff; background-color: #2448ab; overflow: hidden; }
.prom-list .mc .mc-user-msg .save:hover{  background-color: #2d53bb; }


.prom-list .mc .mc-user-msg .msg-list li.address-mt{ width: 500px; height: 31px;  border-top: 1px solid #e8e8e8; border-bottom: none; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li.address-mt .mt-name,.prom-list .mc .mc-user-msg .msg-list li.address-mt .mt-phone,.prom-list .mc .mc-user-msg .msg-list li.address-mt .mt-desc{ height: 30px; line-height: 30px;  border-top: 1px solid #ffffff;  color: #666666; background-color: #fafafa; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li.address-mt .mt-name{ float: left; width: 100px; text-align: center; }
.prom-list .mc .mc-user-msg .msg-list li.address-mt .mt-phone{ float: left; width: 150px; text-align: center; }
.prom-list .mc .mc-user-msg .msg-list li.address-mt .mt-desc{ float: left;  width: 210px; padding: 0 20px; }

.prom-list .mc .mc-user-msg .msg-list li.address-mc{ width: 500px; border-bottom: 1px dashed #e8e8e8; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li.address-mc .mc-name,.prom-list .mc .mc-user-msg .msg-list li.address-mc .mc-phone,.prom-list .mc .mc-user-msg .msg-list li.address-mc .mc-desc{  height: auto;  line-height: 18px; color: #333333; margin: 14px 0; background-color: #ffffff; overflow: hidden; }
.prom-list .mc .mc-user-msg .msg-list li.address-mc .mc-name{ float: left; width: 100px; text-align: center; }
.prom-list .mc .mc-user-msg .msg-list li.address-mc .mc-phone{ float: left; width: 150px; text-align: center; }
.prom-list .mc .mc-user-msg .msg-list li.address-mc .mc-desc{ float: left; width: 210px; padding: 0 20px; }


.prom-list .mc .head-pic-set{ width: 136px; height: 200px; overflow: hidden;  position: absolute; top: 100px; right: 115px; }
.prom-list .mc .head-pic-set a{ display: block;}
.prom-list .mc .head-pic-set a.head-pic{ width: 120px; height: 120px; border: 8px solid #e5e5e5; border-radius: 50%; -webkit-border-radius: 50%;  -moz-border-radius: 50%; overflow: hidden;}
.prom-list .mc .head-pic-set a.head-pic img{ width: 120px; height: 120px; overflow: hidden;}
.prom-list .mc .head-pic-set a.head-pic-save{ width: 98px; height: 28px; line-height: 28px; text-align: center; color: #2448ab; border: 1px solid #e8e8e8; background-color: #ffffff; margin: 20px auto 0; overflow: hidden; }
.prom-list .mc .head-pic-set a.head-pic-save:hover{ background-color: #fafafa; }

/*03-28*/
.prom-list .mc .mc-user-msg .save:hover{  background-color: #1c3e9c; }
.prom-list .mc .head-pic-set a.head-pic-save:hover{ background-color: #2448ab; color: #fff; border: 1px solid #2448ab; }









