/*banner*/
.banner{width: 100%; min-width: 1190px; height: 300px; overflow: hidden; position: relative;  box-shadow: 0 2px 3px rgba(0,0,0,0.1);}
.banner .cont{width: 1190px; height: 300px; margin: 0 auto; position: relative;}
.banner .cont li{width: 1920px; height: 300px; position: absolute; left: 50%; margin-left: -960px; top:0; }
.banner .cont li a{display: block; width: 1160px; height: 262px; padding: 38px 0 0 30px; position: absolute; left: 50%; margin-left: -595px; background: url("../images/act-bg.png") no-repeat 0 19px; z-index: 1;}
.banner .cont li h4{color: #2d415a; font-size: 24px; font-weight: bold; width: 455px; height: 34px; line-height: 34px; overflow: hidden;}
.banner .cont .explain{color: #333333; width: 460px; font-size: 14px; line-height: 25px; margin-top: 6px; min-height:75px; max-height: 100px; overflow: hidden; }
.banner .cont .bot{width: 446px; margin-top: 15px; overflow: hidden;}
.banner .cont .bot .bot-zk{float: left; color: #333333; font-size: 18px;}
.banner .cont .bot .bot-zk span{font-size: 30px; color:#ff6600;}
.banner .cont .bot .time{width: 160px; height: 18px; margin-top: 12px; float: right; line-height: 18px; color: #000000; font-size: 14px; overflow: hidden;}
.banner .cont .bot .time span{display: inline-block; width: 16px; text-align: center; height: 18px; background-color: #2d415a; color: #fff; font-size: 14px; margin-right: 1px; float: left; }
.banner .cont .bot .time i{float: left; padding: 0 2px;}
.banner .cont .bot label{float: right; line-height: 18px; margin-top: 12px; color: #666666;}

.banner .cont .lb-prev{display: block; width: 31px; height: 49px; background: url("../images/detail-01-arrow2.png") no-repeat; position: absolute; left: 0; top:100px; border-radius: 3px 0 0 3px; z-index: 10;}
.banner .cont .lb-next{display: block; width: 31px; height: 49px; background: url("../images/detail-01-arrow2.png") no-repeat -32px 0; position: absolute; right: 0; top:100px; border-radius: 0 3px 3px 0; z-index: 10;}



.main{width: 100%; min-width: 1190px; background-color: #fafafa; }

.main .mc2{width: 1190px; margin: 0 auto; padding-top: 19px; padding-bottom: 77px;}
.main .mc2 .item2{width: 1250px; }
.main .mc2 .item2 .item2-one{width: 278px; margin-right: 23px; margin-top: 20px; border: 1px solid #e8e8e8; position: relative; background-color: #fff; float: left;}
.main .mc2 .item2 .item2-one a{display: block; width: 278px; overflow: hidden; height: 393px;}
.main .mc2 .item2 .item2-one a .discount-box{position: absolute; top: 10px; left: 0px;}
.main .mc2 .item2 .item2-one a .discount-box .discount-m{ height: 22px; line-height:22px; margin-top: 4px; padding: 0 10px; background-color: #ffffff; border: 1px solid #ff6600; border-left: none; color: #ff6600; font-size: 14px; }
.main .mc2 .item2 .pic{width: 220px;  height: 220px; margin: 40px auto 20px; overflow: hidden; position: relative;}
.main .mc2 .item2 .bot{width: 278px; overflow: hidden; }
.main .mc2 .item2 .title{width: 230px; height: 48px; line-height: 24px;  margin: 0 auto; color: #2d415a; font-size: 14px;}

.main .mc2 .item2 .summary{width: 240px; margin: 0 auto; overflow: hidden;}
.main .mc2 .item2 .price{width: 240px; height: 48px; line-height: 48px; font-size: 30px; color: #ff4400; overflow: hidden; white-space: nowrap;}
.main .mc2 .item2 .price .p-num{ float: left; width: 222px; font-size: 28px; color: #ff4400; }
.main .mc2 .item2 .price .p-num i{ font-size: 18px; color: #ff4400; }
.main .mc2 .item2 .price .p-num span { float: right; margin-left: 12px; font-size: 14px; color: #666666;}


.main .mc2 .item2 a:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.main .mc2 .item2 a:hover .title{color: #ff6600;}
.main .mc2 .item2 a:hover .pic .drop-down{bottom: 0;}


.main .mc2 .item2 .item2-one a:hover .discount-box{ display: none;}
.main .mc2 .item2 .item2-one a .discount-box1{ display: none;}
.main .mc2 .item2 .item2-one a:hover .discount-box1{ display: block;}
.main .mc2 .item2 .item2-one a:hover .discount-box1{height: 28px; position: absolute; top: 10px; left: -5px;}
.main .mc2 .item2 .item2-one a .discount-box1 .discount-l{ float: left; height: 28px; width:4px; background: url("../images/icon-discount01.png") no-repeat center center; }
.main .mc2 .item2 .item2-one a .discount-box1 .discount-m{ float: left; height: 24px; line-height:24px; margin-top: 4px; padding: 0 10px; background-color: #ff6600; color: #ffffff; font-size: 14px; }
.main .mc2 .item2 .item2-one a .discount-box1 .discount-r{ float: left; height: 28px; width:3px; background: url("../images/icon-discount02.png") no-repeat center center;}





