.main{padding-bottom: 10rem;}
.pro-box {padding: 1rem; margin-bottom: 1rem; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fff;overflow: hidden;height: 10rem;}
.select {display: block; float: left; width: 1.75rem; height: 1.75rem; color: transparent; background: url(../images/select-01.png) no-repeat center center / 1.75rem 1.75rem; }
.select.cur {overflow: hidden; background: url(../images/select-02.png) no-repeat center center /1.75rem 1.75rem; }
.p-img {display: block; float: left; overflow: hidden; width: 6rem; height: auto; margin-left: 1rem; }
.p-info {float: left; width: 65%; margin-left: 1rem; }
.p-info .top {overflow: hidden; height: 4.2rem; margin-bottom: 1rem; font-size: 1.2rem; line-height: 2.1rem; color: #333; }
.p-info .bot {overflow: hidden; width: 100%; height: 3rem;line-height: 3rem;}
.p-info .bot .price {float: left;  font-size: 1.5rem; color: #fd4854; font-family: "Microsoft yahei";}
.p-info .bot .e-num {float: right; overflow: hidden; font-size: 1.5rem; color: #999; }
.e-num .jian {display: block; float: left; width: 3rem; height: 3rem; color: transparent; background: url(../images/jian.png) no-repeat center center / 3rem 3rem; }
.e-num .jian.disabled {background: url(../images/jian_no.png) no-repeat center center / 3rem 3rem; }
.e-num .jia {display: block; float: left; width: 3rem; height: 3rem; color: transparent; background: url(../images/jia.png) no-repeat center center / 3rem 3rem; }
.e-num .inp {float: left; width: 3.5rem; height: 3rem; margin: 0 .2rem; font-size: 1.7rem; text-align: center; border: 1px solid #ccc; }

.submit-box{position: fixed;bottom: 0;left: 0;width: 100%;box-shadow: 0 0 3px 3px #ddd; height: 6rem;background-color: #fff;line-height: 6rem;overflow: hidden;padding-left: 1rem;padding-right: 1rem;}
.submit-box .left{float: left;color: #000;font-size: 1.4rem;}
.submit-box .select{position: relative;top: 2.1rem;margin-right: 1rem}
.submit-box .right{float: right;margin-top: 1rem; display: block;width: 10.5rem;height: 4rem;line-height: 4rem;text-align: center;border-radius: .5rem;background-color: #82b43c;color: #fff;font-size: 1.5rem;}
.submit-box .mid{float: right;margin-right: 1rem; font-size: 1rem;color: #666;}
.submit-box .mid strong{font-weight: normal;color: #fd4854;font-size: 1.2rem;}
