
.main{padding-bottom: 5rem;}
.pro-list{margin-bottom: 1rem;}
.pro-box {padding: 1rem; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fff; overflow: hidden;}
.p-img {display: block; float: left; overflow: hidden; width: 6rem; height: auto; margin-left: 1rem; }
.p-info {float: left; width: 70%; margin-left: 1rem; }
.p-info .top {overflow: hidden; height: 4.2rem; margin-bottom: 1rem; font-size: 1.2rem; line-height: 2.1rem; color: #333; }
.p-info .bot {overflow: hidden; width: 100%; height: 3rem;line-height: 3rem;}
.p-info .bot .price {float: left;  font-size: 1.5rem; color: #fd4854; font-family: "Microsoft yahei";}
.p-info .bot .e-num {float: right; overflow: hidden; font-size: 1.5rem; color: #999; }

.addr {margin-bottom: 1rem; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fff; }
.addr h2 {height: 3rem; padding-left: 3rem; line-height: 3rem; border-bottom: 1px solid #ddd; background: url(../images/local.png) no-repeat 1rem center / 1.5rem 1.75rem; }
.addr .info {display: block; padding: 1rem; background: url(../images/arr-right02.png) no-repeat 90% center / .9rem 1.75rem; }
.addr .info .name {display: inline-block; overflow: hidden; width: 7rem; height: 1.5rem; font-size: 1.2rem; line-height: 1.5rem; color: #333; }
.addr .info .tel {display: inline-block; overflow: hidden; width: 10rem; height: 1.5rem; font-family: Arial; font-size: 1.2rem; line-height: 1.5rem; color: #333; }
.addr .info p {overflow: hidden; width: 80%; font-size: 1rem; color: #666; }

.tui-box {background: #eee; } .tui-box h2 {height: 4rem; padding-left: 2rem; font-size: 1.5rem; line-height: 4rem; color: #333; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fff; }
.tui-box input {width: 93.75%; height: 4.5rem; margin: 3.125%; padding: 0 1rem; font-size: 1.5rem; color: #333; }
.tui-box .choose {margin-bottom: 1rem; padding: 1rem 0 1.8rem 1rem; border-bottom: 1px solid #ddd; background-color: #fff; }
.tui-box .choose a {display: block; overflow: hidden; width: 7.5rem; height: 7.5rem; color: transparent; background: url(../images/add.png) no-repeat center center / 7.5rem 7.5rem; }
.tui-box .choose a img {display: block; overflow: hidden; width: 7.5rem; height: 7.5rem; }
.tui-box .btn {display: block; width: 93.75%; height: 4.5rem; margin: 3.125%; margin-top: 0; font-size: 1.8rem; line-height: 4.5rem; text-align: center; color: #fff; background-color: #84b23c; }
