
.main{margin-top: 1rem;padding-bottom: 10rem;}

.order-status {height: 4.5rem; margin-bottom: 1rem; padding-left: 4rem; font-size: 1.5rem; line-height: 4.5rem; color: #333; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff url(../images/order-tit.png) no-repeat 1rem center / 1.5rem 2rem; }
.order-status i {font-style: normal; color: #fd4854; }

.order-addr{color: #999; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-bottom: 1rem;padding: 1rem 1rem 1rem 4rem; background: #fff url(../images/local-l.png) no-repeat 1rem 1rem / 2rem 7.5rem;}
.order-addr h2{font-size: 1.5rem;color: #333;margin-bottom: .5rem;}
.order-addr span{font-size: 1.2rem;font-family: Arail;}
.order-addr p{font-size: 1rem;margin-top: .5rem;}

.order-box {margin-bottom: 1rem; background-color: #fff; }
.order-num {width: 100%; height: 5rem; padding-right: 1rem; padding-left: 1rem; line-height: 5rem; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.order-num .left {float: left; font-size: 1.2rem; color: #333; font-family: Arail;}
.order-num .right {float: right; font-size: 1rem; color: #999; font-family: Arail;}

.pro-list {width: 100%; }
.pro-item {width: 100%; height: 8rem; padding: 1rem; border-bottom: 1px solid #ddd; }
.pro-item .left {float: left; overflow: hidden; width: 6rem; height: auto; }
.pro-item .mid {float: left; width: 50%; margin-left: 1rem; }
.pro-item .mid .p-desc {overflow: hidden; height: 3.5rem; font-size: 1rem; line-height: 1.75rem; color: #333;}
.pro-item .mid .p-info {height: 1.5rem; margin-top: 1rem; font-size: 1rem; color: #999; line-height: 1.5rem;overflow: hidden;text-overflow: ellipsis;width: 100%;white-space: nowrap;}
.pro-item .right {float: right; font-size: 1.2rem; text-align: right; color: #999; width: 20%;}
.pro-item .right strong {display: block; margin-bottom: 1rem; font-weight: normal; font-family: "Microsoft yahei"; line-height: 1.5rem; color: #333; overflow: hidden; text-overflow: ellipsis; width: 100%;}

.order-info {overflow: hidden; height: 5rem; padding: 0 1rem; font-size: 1rem; line-height: 5rem; border-bottom: 1px solid #ddd; }
.order-info .right {float: right; margin-left: 1rem; line-height: 4.65rem; color: #999; }
.order-info .right strong {font-size: 1.4rem; font-weight: normal; color: #fd4854; font-family: "Microsoft yahei";}
.order-info .mid {float: right; color: #999; }
.order-info .mid strong {color: #f00; font-family: Arail;}

.order-que {margin-bottom: 1rem; padding: 3.125%; background-color: #fff; }
.order-que .p-img {float: left; overflow: hidden; width: 30%; height: auto; margin-right: 3.125%;}
.order-que .p-img img{display: block;width: 9.5rem;height: 9.5rem;overflow: hidden;}
.order-que .top {float: left; overflow: hidden; width: 65.625%; line-height: 1.75rem;}
.order-que .top .tit {float: left; font-size: 1.2rem; color: #333; }
.order-que .top .date {float: right; font-size: 1rem; color: #999; font-family: Arail;}
.order-que textarea {width: 65.625%; height: 7rem; margin-top: .7rem; padding: 1rem; font-size: 1rem; color: #666; border: none; background-color: #f4f4f4; }

.o-btn{display: block;margin: 3.125%;width: 93.75%;height: 4rem;line-height: 4rem;text-align: center;font-size: 1.5rem;border: 1px solid #eee;background-color: #fff;color: #666;}
.o-btn.cur{background-color: #82b43c;color: #fff;}

.bot-box{position: fixed;bottom: 0;left: 0;width: 100%; height: 5rem;line-height: 5rem;background-color: #fff;box-sizing: 0 0 3px 3px #ddd;text-align: center;}
.bot-box .btn{display: inline-block;width: 45%;border-radius: 1.5rem;height: 3.5rem; margin-top: .75rem;border: 1px solid #ccc; background-color: #f8f8f8;font-size: 1.5rem;color: #666;line-height: 3.5rem;}
.bot-box .btn:first-child{margin-right: 1rem;}

.bot-box.agree .cur{background-color: #82b43c;color: #fff;}
.bot-box.receive .cur{background-color: #82b43c;color: #fff;}

.bot-box.refuse-check .cur{background-color: #fff;color: #82b43c;}
