
.main {margin-top: 1rem; padding-bottom: 5rem; padding-left: 1rem; font-size: 1.1rem; line-height: 4.5rem; background-color: #fff; }
.item {overflow: hidden; height: 4.5rem; text-align: center; color: #ff6464; border-bottom: 1px solid #ddd; }
.item .left {float: left; width: 25%; padding-left: 2.5rem; }
.item .mid{float: left; width: 50%;overflow: hidden;padding: 0 .5rem;text-overflow: ellipsis;}
.item .right {float: right; padding-right: 1rem; color: #999; width: 25%;}
.item strong {font-size: 1.4rem; font-weight: normal; }
.item .left.complete {color: #82b43c; background: url(../images/a-comp-icon.png) no-repeat left 50% / 1.8rem 1.8rem; }
.item .left.submit {color: #f09600; background: url(../images/a-submit-icon.png) no-repeat left 50% / 1.8rem 1.8rem; }
.item .left.deal {color: #788cee; background: url(../images/a-deal-icon.png) no-repeat left 50% / 1.8rem 1.8rem; }
