
.main {padding-right: 1rem; padding-left: 1rem; text-align: center; }
.suc-icon {display: block; width: 15rem; height: 12.5rem; margin: 7rem auto 3.5rem; }
.suc-tip {font-size: 1.5rem; color: #666;}
.suc-tip strong {display: block; margin-bottom: .5rem; font-size: 1.8rem; font-weight: normal; color: #666; }
.btn {display: block; width: 100%; height: 4rem; margin-top: 3.5rem; font-size: 1.5rem; line-height: 4rem; text-align: center; color: #fff; background-color: rgba(130, 180, 60, 1.0); }
