.main{padding-bottom: 5rem;}

.m-tit {overflow: hidden; width: 100%;  padding: 1rem; padding-left: 1rem; text-align: center;background-color: #eee;}
.m-tit a {display: inline-block; float: left; width: 50%; height: 3.5rem; font-size: 1.5rem; line-height: 3.5rem; text-align: center; color: #82b43c; background-color: #fff; border: 1px solid #82b43c; }
.m-tit a:first-child {border-right: none; }
.m-tit a:last-child {border-left: none; }
.m-tit a.cur {color: #fff; background-color: #82b43c; }

.code-box-wrap{width: 100%;}

.code-box {margin-bottom: .5rem; padding-left: 1rem; line-height: 4rem; background-color: #fff; }
.code-box .top {height: 4rem; border-bottom: 1px solid #ddd; }
.code-box .top a {display: block; font-size: 1.4rem; color: #666; font-family: Arial; background: url(../images/arr-right.png) no-repeat 95% center / .75rem 1.2rem; }
.code-box .top .code-icon {position: relative; top: -.1rem; display: inline-block; overflow: hidden; width: 1.3rem; height: 1.3rem; margin-right: 1rem; }
.code-box .bot {overflow: hidden; height: 4rem; padding-right: 1rem; }
.code-box .bot .left {font-size: 1.1rem; color: #999; width: 50%; height: 4rem;overflow: hidden;text-overflow: ellipsis;}
.code-box .bot .right {font-size: 1.1rem; color: #999; width: 50%; height: 4rem;overflow: hidden;text-overflow: ellipsis;}
.code-box .bot strong {font-size: 1.3rem; font-weight: normal; color: #666; font-family: Arial;}

.paging{position: relative; padding-top: 1.5rem;padding-bottom: 1.5rem;text-align: center;color: #bbb;font-size: 1rem;}
.paging strong{font-weight: normal;font-size: .8rem;}
.paging .left{position: absolute; top: 50%; left: 1rem; width: 6rem; height: 1px; background-color: #ddd;}
.paging .right{position: absolute; top: 50%; right: 1rem; width: 6rem; height: 1px; background-color: #ddd;}
