body{width: 100%; height: 100%; min-width: 320px; margin: 0 auto; background-color: #fff;-webkit-text-size-adjust:100%!important;}

button {outline: none; background: none; border: none; }

button,input,optgroup,select,textarea{-webkit-appearance:none; }

a,button,input,optgroup,select,textarea,label{ -webkit-tap-highlight-color:rgba(0,0,0,0);}

input {outline: none; border-radius: 0;}
input::-webkit-input-speech-button{ display: none; }

.header{width: 100%; height: 4.4rem; padding: 0.7rem 1.0rem; background-color: #fff; position: relative; z-index: 10;}
.header .logo{ position: static; width: 7.0rem; height: 3.0rem; text-align: center; float: left; overflow: hidden;}
.header .logo img{width: 100%; height: auto;}

.header .search { margin-left: 8rem; }
.header .search a { display: block; width: 100%; height: 3.0rem; padding-left: 2.5rem; line-height: 3.0rem; font-size: 1.2rem; color: #999; border-radius: 0.15rem; background: #efefef url(../image/secrch-icon.png) no-repeat left 0.75rem center / 1.25rem auto; }

.footer { margin-top: 1.5rem; padding-bottom: 2.0rem; }

.footer .footer-top .to-top { float: right;line-height: 1.7rem; font-size: 1.4rem; color: #969696;}

.footer .footer-copyright{ margin-top: 2.5rem;}

.footer .about { margin-top: 2.0rem; text-align: center; color: #999;}
.footer .about ul { font-size: 0; }
.footer .about li { display: inline-block; padding: 0 0.5rem; font-size: 1.1rem; border-right: 0.05rem solid #999; /*border-left: 0.05rem solid #cdcdcd;*/}
.footer .about li:first-child { border-left: none; }
.footer .about li:last-child { border-right: none; }
.footer .about a { color: inherit; }

.footer .tel { width: 75%; margin: 1.5rem auto 0; }
.footer .tel a { display: block; line-height: 3.5rem; font-size: 1.3rem; color: #fff; text-align: center; border-radius: 0.15rem; background-color: #00a0a0; }

.footer .slogen { margin-top: 2.4rem; padding: 0 24px; }
.footer .slogen ul { overflow: hidden; }
.footer .slogen li { float: left; width: 25%; text-align: center;  color: #666;}
.footer .slogen .lab { display: block; width: 3.5rem; height: 3.5rem; margin: 0 auto 0.5rem; font-size: 1.5rem; color: inherit; line-height: 3.5rem; text-align: center; border: 1px solid currentColor; border-radius: 50%; }
.footer .slogen .val { font-size: 1.1rem; line-height: 1.6rem; }

/* 底部入口 */
.footer-links{width: 100%; height: 5rem;position: fixed; bottom: 0; left: 0; right: 0; z-index: 999; overflow: hidden; border-top: 1px solid #e5e5e5; background-color: #fff;}
.footer-links li{width: 20%; height: 5rem;  float: left; overflow: hidden;}
.footer-links li a{display: block; height: 5rem; text-align: center; padding-top: 0.5rem; }
.footer-links li img{display: inline-block; margin-bottom: 0.3rem; width: 2.4rem; height: 2.4rem;}
.footer-links .cur{color: #00a0a0;}
